[2013-12-13 07:27] hueitan opened #1 "Add test"

[2013-12-31 13:56] jzimmek opened #2 "Server-side validation"
Most common case and well understood example is the unique email validation during a user registration (JSON-Api).

Can you add an example on how to implement this in angular-validation.

[2014-01-01 02:16] #1 closed, assigned to nobody

[2014-02-06 16:55] calendee opened #4 "Doesn't Clear Errors After Submit Validate"
If the form uses `submit` validation method and user submits, the validation errors show up on the form.  However, as they type, the errors don't go away.  So they never know if the problem is fixed.

Is there a way to use `submit` validation initially and then `watch` validation after the first submission?

[2014-02-07 12:08] chandermani opened #5 "Support for multiple validators on a single input"
I see all examples using a single validator. Any plans for building support for multiple validators on the single input.

Looking at the code i see you have used array for validator

`validator.forEach(function (validation)`

but the implementation does not take that into account.

[2014-02-07 13:33] chandermani opened #6 "There should be an option to disable showing success message."
Currently the directive either shows error or success.

There should be an option to allow not showing success message at all.

[2014-03-07 06:51] #2 closed, assigned to nobody

[2014-03-21 09:51] amolvparab opened #9 "Minification throws unknown provider error with $validation"
I get the below error wen I run the app with minified script files.

[$injector:unpr] Unknown provider: nProvider <- n <- $validation

[2014-03-25 04:50] #9 closed, assigned to nobody

[2014-04-11 02:31] euclid1990 opened #10 "Could you tell me the way to validate form when the input is clean."
Could you tell me the way to validate form when the input is clean.
I have a model $scope.form and it is empty object.
Now, I want to auto show validate message at initial screen.

Example: Althought user has not interacted with the form, but it show the message error
![selection_007](https://cloud.githubusercontent.com/assets/5584709/2675713/92598990-c121-11e3-8115-f1bde94dd88b.png)

[2014-04-11 17:45] #6 closed, assigned to nobody

[2014-04-12 03:19] hueitan opened #11 "Focus first input element when submit error"
element[0].focus()

This feature is needed!

[2014-04-12 12:26] #10 closed, assigned to nobody

[2014-04-13 08:55] #4 closed, assigned to nobody

[2014-04-19 01:57] #11 closed, assigned to nobody

[2014-05-21 02:44] hueitan opened #14 "Create a new branch fully support angularjs 1.3"
Support angularjs 1.3 only.

ngModelOptions
ngMessage

and more ...

ie 8 go away!

[2014-05-21 09:15] huei90 opened #15 "(Refactor) Setup a new Validation"
the original

[code]

Need a better structure

reference: https://github.com/kelp404/angular-validator#register

[2014-05-29 16:19] shelwinnn opened #16 "Add password validation,$submit with callback always be error"
[code]

[2014-05-30 07:23] #16 closed, assigned to nobody

[2014-05-30 19:24] tammasr opened #17 "How to pass multiple values into the function?"
Hi,
Below is my validation function  for range

[code]

May i know how to pass in the min and max values into this function?

Thanks!

[2014-06-09 04:05] zack9433 opened #19 "Why default validity is false?"
I think don't set validity to false when initial.

If i set a valid value to input as default value when initialize form and this input valid-method="blur", but i get this form $valid is false.

[2014-06-09 05:06] hueitan opened #20 "Refactor $scope.submit"
In Ordnung,

we use

[code]

---

What if we reduce this method from

[code]

to

[code]

Write `submit` action in view, not controller

[2014-06-13 07:08] gilad1987 opened #22 "unique field event"
There is a problem if I have some fields with the same name in various forms page
So he checks them all even though it is different form,
I just added a random number and that's how I created a unique field

[2014-06-15 10:13] #22 closed, assigned to nobody

[2014-06-15 10:51] #19 closed, assigned to nobody

[2014-06-15 10:56] #20 closed, assigned to nobody

[2014-06-30 17:52] Jakobovski opened #23 "Add error class to input element on invalid data"
Thanks for the great code!

It would be nice for there to be an option to add an arbitrary class to the input element when the user enters invalid data.

For example the bootstrap classes `.has-errors` and `.has-warning`.

If you are interested I can build out this functionality.

[2014-07-01 01:19] #17 closed, assigned to nobody

[2014-07-01 09:18] xbenjii opened #24 "Validation based on multiple inputs."
Is this possible? I tried

[code]

But it only works on the input that was last accessed.

[2014-07-01 09:41] #24 closed, assigned to nobody

[2014-07-02 16:29] Jakobovski opened #26 "Add validation for SSN and USA/Canada phone numbers"
Hey Huei,

I am thinking of adding validation for Social Security numbers(SSN) and USA/Canada phone numbers. Both of these are numbers that are only relevant to applications that deal with U.S and Canadian data.

Let me know if you are interested in having these validation types added.

Thanks!

[2014-07-03 07:58] #23 closed, assigned to nobody

[2014-07-09 05:45] janryWang opened #27 "How to make a confirm password validator?"
Thank you for your validator gives me a lot of development to help, but I encountered a troublesome problem is how do I achieve validator password to confirm it?

[2014-07-09 13:05] pruge opened #28 ""required expression" does not work multiline in textarea"
[code]

This work.

[2014-07-09 14:52] janryWang opened #29 "还有一个问题需要麻烦解答一下"
如果我要实现单独触发某个单独的字段验证，有没有相关的实现方式呢？我看$validationProvider.validate应该是针对于表单中所有字段的吧？因为我这里的业务是点击某个按钮，只针对于某个字段进行验证

[2014-07-10 04:33] hueitan opened #30 "Check Form Type"
When using validate/reset, We have 3 types of forms
1. single (only one model)
2. multiple (multiple model)
3. full object (whole form name object(

[2014-07-10 06:32] #30 closed, assigned to nobody

[2014-07-10 14:01] #27 closed, assigned to nobody

[2014-07-16 15:20] ctjhoa-linagora opened #31 "Conflict with angular-translate"
Hi all,

There is a conflict between angular-translate and angular-validation, at least on validatIonSubmit directive.

See plunker:
http://plnkr.co/edit/viH9S6MaVlX9xIoUrRgO?p=preview

Thanks

[2014-07-17 15:29] arthurhenning opened #33 "Customizable initial validity"
The validity of the initial directive should be customizable:

ctrl.$setValidity(ctrl.$name, validity);

where validity can be a boolean set globally or locally for each directive.
It would make more sense for the form to be valid initially.
For example, you have 2 input fields in your form initially. One of them is required, the other is validated by a regex (it can be empty string as well).
You

[2014-07-17 16:06] #29 closed, assigned to nobody

[2014-07-17 16:06] #28 closed, assigned to nobody

[2014-07-17 16:15] #26 closed, assigned to nobody

[2014-07-18 09:20] #31 closed, assigned to nobody

[2014-07-20 06:06] bleuscyther opened #35 "Can't access $http, $q... inside .setExpression()"
I cannot use $q like shown in the example unless i change the setup function to :

[code]

i had to add <b>this</b> in front of the variables....

[2014-07-22 02:46] rubydoc opened #36 "requiredSubmit is not working with ng-include"
In controller, I declare this.

[code]

In view

[code]

/partials/auth/sign-up-form.html

[code]

When I use without ng-include, well done.
I have checked the user is same scope wheather using ng-include or not.
I can't understand what is defferent. How to can I fix it?

[2014-07-22 02:50] #36 closed, assigned to nobody

[2014-07-22 10:30] gsans opened #37 "Validation should execute on submit?"
Following the example on plunkr. The required field validation should be triggered on submit without requiring any other user interaction or filling any field.

[2014-08-20 18:35] benjamincharity opened #38 "Is it possible to only show valid message IF invalid message was shown?"
First off, great work on this module!

I like that you can turn the valid message on/off, but I would love to only show the success message IF the error message has already been shown. If the user gets it right on their first try, I don't see the need for the success message.

[2014-08-21 01:47] #37 closed, assigned to nobody

[2014-08-28 16:39] juan-mingo opened #40 "How to validate checkboxes and radio buttons?"
I want to validate radio buttons and/or checkboxes as a group how should I do that?

[2014-08-29 02:12] #5 closed, assigned to nobody

[2014-08-29 02:12] #33 closed, assigned to nobody

[2014-08-29 02:12] #38 closed, assigned to nobody

[2014-09-08 00:38] elbbub opened #41 "is it a bug or somehow issue?"
angular-validation 1.2.2

In my project, angular-validation is used as a git submodule. Somehow i got the error as follow:

[code]

is it a bug?

[2014-09-23 04:53] janryWang opened #42 "嗨，我又来提问题了"
最近又回到搞validation这块了，但需求是需要像密码强度提示这样的，该组件能不能做到支持一种validator提示多种信息呢？

[2014-10-01 06:31] istian opened #43 "Option to customize error/success message"
Hi,

Is there a way to customize the error/success message element wrapper and on which position it should appear.

Thanks

[2014-10-01 07:01] #43 closed, assigned to nobody

[2014-10-01 11:41] istian opened #44 "First field automatically has ng-invalid and ng-invalid-<field> class attribute"
Hi,

I noticed that the first field have the ng-invalid and ng-invalid-<field> class which seems the field is automatically validated on page load. I'm putting some highlights on invalid fields and the fields already got highlighted without error message showing. An example of this is the demo itself:

http://plnkr.co/edit/rjIIkX

Thanks,
--ist

[2014-10-08 10:07] #35 closed, assigned to nobody

[2014-10-17 13:28] #42 closed, assigned to nobody

[2014-10-17 13:29] #41 closed, assigned to nobody

[2014-10-17 13:30] #44 closed, assigned to nobody

[2014-10-27 05:21] gm301088 opened #45 "Custom message on html not displaying with multiple validator"
validator="required, email" required-error-message="Required" required-success-message="Good Required" email-error-message="Error Email" email-success-message="Good Email"

Please guide me to fix. Thanks in Advance.

[2014-10-27 07:24] #45 closed, assigned to nobody

[2014-10-29 04:26] huei90 opened #46 "validator.js"
Looks we have lot of validation type to define.
https://github.com/chriso/validator.js/blob/master/validator.js

[2014-10-30 10:12] hellocreep opened #47 "How to manual check the form?"
Hi,
Is there a way to check the form manually ?

[2014-10-30 13:07] #47 closed, assigned to nobody

[2014-11-01 04:51] Perpherior opened #48 "Try to including dependency but fail"
install by rails bower, and then require in application
# = reuqire angular-validation/dist/angular-validation
# = reuqire angular-validation/dist/angular-validation-rule

requiring is successful, but when trying to include dependency

angular
  .module("myApp",  ["ngRoute", "validation", "validation.rule"])

It shows:

Uncaught Error: [$injector:modulerr] Failed to instantiate module myApp due to

[2014-11-01 07:45] #48 closed, assigned to nobody

[2014-11-02 07:11] Perpherior opened #49 "Hi, come again. How to deal with conditional validation?"
看了下以前的issue才发现原来你看得懂中文... 想请问下，如何能做conditional的validation。
比如说，如果我设置email，则应该只验证在输入了情况下 验证email，而在不输入email的时候，应该验证是通过的。我的意思是现在的validatior在验证的时候validator="email"跟validator="required, email"的区别只是在于 没有required的error message。
如果想validator email only if email existed，要如果做修改呢？

[2014-11-02 11:30] hueitan opened #50 "test comes from protractor"
Should probably using protractor for testing purpose

[2014-11-02 11:31] #14 closed, assigned to nobody

[2014-11-03 06:57] #49 closed, assigned to nobody

[2014-11-14 06:45] #50 closed, assigned to nobody

[2014-11-14 09:16] CallumVass opened #52 "ng-repeat with checkboxes"
Hi,

I have a checkbox inside an ng-repeat like so:

    <div class="checkbox" ng-repeat="item in vm.dataPoints">
        <label>
            <input type="checkbox"
                       checklist-model="vm.selectedDataPoints"
                       checklist-value="item.name"/>{{item.name}}
         </label>
     </div>

I want at least one checkbox to be checked, any idea on how I would go abou

[2014-11-19 09:34] alan-zhang- opened #53 "How to stop to show success message"
Hi,

When I set the success message to '', it still show some empty space, how to totally disable the success message.

Thanks.

[2014-11-20 07:59] alan-zhang- opened #55 "Can't use multiple name="requireWatch" in one form ?"
Hi,

I used multiple name="requireWatch" in one form, when I click submit, only the last one validated.

[2014-11-21 02:19] #55 closed, assigned to nobody

[2014-11-21 02:19] #53 closed, assigned to nobody

[2014-11-24 02:04] huei90 opened #56 "ngModel.$validators"
Taming Forms in AngularJS 1.3

erm..
http://www.yearofmoo.com/2014/09/taming-forms-in-angularjs-1-3.html

This is still not reusable in the error message Orz.

But great job.

[2014-11-28 15:23] akozenko opened #58 "validation rules with params"
How create validation rules with params (such as maxLength etc)?

[2014-12-01 07:39] #58 closed, assigned to nobody

[2014-12-01 17:32] gavb17 opened #60 "Validate within Directive with ng-form"
Is it possible to validate fields (type= select and input=text) within a directive which contains an ng-form?
At present they are not triggering on page submit but work when switching between a selection and default state.

[code]

Thanks for any help.

Gav

[2014-12-02 16:15] vinimarques opened #61 "Validate ui-select fields ?"
Is possible validate ui-select fields when submit the form ?

[2014-12-03 09:46] CallumVass opened #62 "Reset form after submit?"
I'm trying to reset the form after successfully submitting but this doesnt seem to work:

[code]

[2014-12-03 10:54] #62 closed, assigned to nobody

[2014-12-08 02:47] alan-zhang- opened #63 "How to make it support multiple input box for the same validator"
Hi,

Is it possible to change to the source code to make it support multiple input box for the same validator, when I click save, only the last item validated:
![abc](https://cloud.githubusercontent.com/assets/5202716/5334188/cfd90698-7ec6-11e4-9ec3-3d662bccbe0a.jpg)
Here is the code for the screenshot:

[code]

[2014-12-08 03:10] #61 closed, assigned to nobody

[2014-12-08 03:10] #60 closed, assigned to nobody

[2014-12-08 04:23] #63 closed, assigned to nobody

[2014-12-14 10:24] vigneswaran1990 opened #64 "Reg Group validation"
Group validation is not possible with this plugin? Or you have any idea to implement this?

[2014-12-14 14:38] hyades opened #65 "How do I make it work along with other directives like ui-select?"
I have another directive [ui-select](https://github.com/angular-ui/ui-select)
[code]
If I add a validator to this like
[code]

I get this error -

[code]

I am new to angular, and googling this didn't help much.

[2014-12-17 08:24] CallumVass opened #66 "Multi-step Form Validation"
Is there a way to validate a multi-step form so that at each stage the form is valid before proceeding to the next stage?

[2014-12-17 09:12] hyades opened #67 "Use validator like ng-required for expressions"
Inside ng-required we can specify an expression. So the validation only happens the expression evaluates to `true`

Is such a thing possible for validator??
Something like
[code]
`all` is some custom validator I declared.

[2014-12-17 10:32] #66 closed, assigned to nobody

[2014-12-19 19:50] httpete opened #68 "How do we do tooltips for error messages upon focusing?"

[2014-12-20 08:09] lvarayut opened #69 "How to move the message position?"
I created a form with `input-group-addon` class provided by Bootstrap, in order to embed an icon to the input, using the following code:

[code]

When `angular-validation` added the message, it made the input field drop down one more line:

![screen shot 2557-12-20 at 3 00 59 pm](https://cloud.githubusercontent.com/assets/4281887/5514240/c079225e-8859-11e4-9ab1-4c4d4fdaaadc.png)

How to move the m

[2015-01-05 04:06] nilamsavani opened #71 "Error:This is not a regular Form name scope"
Hello i am getting an error:This is not a regular Form name scope

help me

[2015-01-05 06:29] huei90 commented on #71
In this error message

your js code
[code]

Seems the form is not valid Form, please try the valid Form as the example.
https://github.com/huei90/angular-validation/blob/master/API.md

[2015-01-06 06:40] #71 closed

[2015-01-14 14:08] mdmoura opened #73 "Is it possible to change the default valid-method?"
Hello,

Is it possible to change the default valid-method to submit-only so it applies to all elements by default?

Thank You,
Miguel

[2015-01-14 14:25] huei90 commented on #73
Unfortunately, the default valid-method is `watch` now.

And there's no settings on the default valid-method right now.

[2015-01-14 14:49] mdmoura opened #74 "Select not being validated on Submit"
Hello,

I have the following form:

        <form name="form" ng-controller="SubscriberController">
              <select ng-model="subscriber.country" data-validator="required">
                <option value="">Country</option>
                <option value="1">France</option>
                <option value="2">England</option>
              </select>
              <input ng-model="subscriber.emai

[2015-01-14 14:56] mdmoura commented on #74
The name attribute was missing on select. Now it is solved ...

[2015-01-14 14:56] #74 closed

[2015-01-28 03:40] 97world opened #75 "发现一个问题，如果name属性是用{{}}来设置，生成的class也会包含“{{}}”这对符号"
发现一个问题，如果name属性是用{{}}来设置，生成的class也会包含“{{}}”这对符号，这个问题有解决方法吗？
例如input type="text" ng-model="testModel" validator="required" name="{{templateData.Name}}"
页面上：input class="ng-isolate-scope ng-pristine ng-invalid ng-invalid-{{template-data.-name}}" type="text" name="UserName" validator="required" ng-model="testModel"

[2015-01-28 04:03] huei90 commented on #75
@97world
謝謝你提供這個問題，目前 angular-validation 沒有提供 compile name 的功能，所以 {{ data }} 變動，angular-validation 沒有自動更新整個驗證機制。

通常會需要 都會直接用在 validator="{{ validationMethod }}"，
請問你是在什麼情況下需要 {{ }} 在 name 呢？

[2015-01-28 05:15] 97world commented on #75
@huei90
这个貌似是Angularjs自己的问题？http://anjianshi.net/post/wen-ti-ji/ng-input-dynamic-name
我这边用directive实现了一个功能，根据不同的数据类型输出不同的html控件(input,select)，同时又需要表单验证，需要动态指定name属性，能明白吗？

[2015-01-28 05:34] huei90 commented on #75
有點不太明白也，有沒有 code 可以解釋呢？

也許能有其他種方式能夠達到你要的功能

[2015-01-28 05:57] 97world commented on #75
[code]

templatePath.manufacturer引入的模板文件如下：

[code]
autochoosectr是我弄的一个自定义directive，稍微有点复杂，你看成返回下面的html模板就行了
[code]

[2015-01-28 06:22] 97world commented on #75
@huei90
其实我开发过程中真正遇到的问题就是，使用{{templateData.Name}}来指定input的name属性，由于多个地方用了{{templateData.Name}}，渲染后的页面存在多个“ng-invalid ng-invalid-{{template-data.-name}}”，导致表单submit的时候，不能在对应的input下显示提示信息

[2015-01-28 10:43] toomu opened #76 "validation dependant on other input value"
I want to validate if the user, when registering himself, has entered the password the second time matches with the first time value. Can we do this ?

[2015-01-28 11:00] huei90 commented on #76
Here's for your reference.
https://github.com/huei90/angular-validation/issues/24

[2015-01-28 13:46] toomu commented on #76
thanks bro.

[2015-01-28 16:42] bmwertman opened #77 "Can't get the input focus event for page styling."
I have placeholders in my input fields that once the input gets focus I apply some CSS to have the placeholder position above it's respective input as a label(with a blue color). Once focus is lost and the info in the input is found as valid the label turns grey and remains above it's respective input.

I want to use this in coordination with angular-validation to show error messages below each re

[2015-01-29 06:04] sweepy84 commented on #69
Same problem here.... is there a workaround fix yet???

[2015-01-29 06:51] huei90 commented on #76
nice, if you have other issue, please open it again :beer:

[2015-01-29 06:51] #76 closed

[2015-01-29 06:54] huei90 commented on #77
Do you have a short DEMO for this?

Seems you need to modify the `setErrorHTML()`

you can search keyword `Custom the valid/invalid message style HTML in .config()`

in https://github.com/huei90/angular-validation/blob/master/API.md

[2015-01-29 06:57] huei90 commented on #69
well, i think #70 can fix the issue.

[2015-01-29 16:45] huei90 commented on #75
目前比較沒有比較好的解法哦 @@
畢竟 angular-validation 需要用 name 的屬性，
若 angularjs 已經不行了那就沒辦法了！

看是不是有其他的方式可以採用

[2015-01-29 16:45] huei90 commented on #68
Dear @httpete
Reopen this issue if you have other question.

[2015-01-29 16:45] #68 closed

[2015-01-29 16:46] huei90 commented on #67
reopen this if you have other question or issue

[2015-01-29 16:46] #67 closed

[2015-01-29 16:46] huei90 commented on #65
reopen this if you have other question or issue

[2015-01-29 16:46] #65 closed

[2015-01-29 16:47] huei90 commented on #64
reopen this if you have other question or issue

[2015-01-29 16:47] #64 closed

[2015-01-29 21:39] gonzalon opened #78 "Focus on inputs"
For me it seems not working.

The solution we found was to make this modification:
[code]

[2015-01-30 01:40] mdmoura opened #79 "Can I use a service in validation?"
Hello,

On a form I need validade the username by accessing an angular service which call an Api ... How can i do this kind of validation?

Thank you,
Miguel

[2015-01-30 01:55] huei90 commented on #79
Here's for your reference.

https://github.com/huei90/angular-validation/issues/2

[2015-01-30 01:57] huei90 commented on #78
What's the problem? Would you mind show me the issue?

[2015-01-30 07:19] 97world commented on #75
@huei90
哦没事！
我看看有没有其他方式可以解决，你能够提供一个方向给我吗？

[2015-02-05 10:50] tb opened #80 "Toggle has-error on parent form-group"
In Bootstrap you can make label, input and error message all have red text/outline if you set `.has-error` on parent container, typically `.form-group`

I was able to add in source code with:

    formGroupElem = element.parents('.form-group:first')
    formGroupElem.addClass('has-error');
    formGroupElem.removeClass('has-error');

I am doing it atm inside `invalidFunc` and `validFunc`.

Would y

[2015-02-05 15:34] huei90 commented on #80
@tb

Your suggestion is correct.

And here's the reference we built before.

See if this is work to you.

https://github.com/huei90/angular-validation#integrating-with-twitter-bootstrap

[2015-02-05 15:34] #79 closed

[2015-02-05 15:35] huei90 commented on #78
@gonzalon I need more explain about this.

[2015-02-05 15:35] #77 closed

[2015-02-07 02:29] #69 closed

[2015-02-07 08:53] huei90 commented on #69
@sweepy84 Sorry for the late reply.

Here's our solution.

https://github.com/huei90/angular-validation/pull/70

given message-id
[code]

[2015-02-07 20:29] thetutlage opened #83 "Validation using schema"
Hey there

I recently wrote a tiny provider , that adds schema based validation on angular-validation , have a look and see if you can add it as a reference to official docs

https://github.com/thetutlage/angular-validation-schema

[2015-02-08 11:51] roylee0704 opened #84 "Positioning Error/Success message"
Hi, greetings @huei90 , great library that you have written. :)

Yeah, there is a question from me, is there any way for me to freely point where should the error/success message be displayed rather than at  the  below of `<input>` tag ?

---

The reason is because of the following issues faced:

![bootstrap add-ons + help-block message](https://cloud.githubusercontent.com/assets/8052198/3462871/d

[2015-02-08 13:24] huei90 commented on #84
@roylee0704 Did you get this error message by using `message-id` ?

[2015-02-08 13:28] huei90 commented on #83
Cool @thetutlage

I love your idea.

You are welcome to add a link in README.md,
to direct to the schema link.

Waiting for your PR :beers:

[2015-02-08 13:36] huei90 commented on #84
Hey Malaysian @roylee0704

[2015-02-08 14:55] roylee0704 commented on #84
@huei90  You from Malaysia too ? :+1:   No I did not get any error message. I was expecting the error message would be somehow `injected` onto the span that I've just created.

[2015-02-08 15:02] huei90 commented on #84
Hey Malaysian Here :smile:

I think you are having the same problem here.

https://github.com/huei90/angular-validation/issues/69

There's the implementation for you to try.

[2015-02-08 15:12] roylee0704 commented on #84
@huei90  What a Lighting-speed reply! :)  Alright I will take a look over it, by the way, is there any way to pass-in object/values onto the validator expression? So that I could do some dynamic validation? So far I have seen the validator-rule callback takes in `(value, scope, element, attrs)`. Should I just use what's available? If yes, what is the best way of passing in values than from the `<i

[2015-02-08 15:17] huei90 commented on #84
Well, currently there's no a better way to do that.

But I would suggest you to try

[code]

You can try a validator name `dynamic_validator`

And use the variable `dynamic-input` to differentiate the validation in `dynamic_validator`.

[2015-02-08 15:28] roylee0704 commented on #84
So you mean I should just access any extra parameter via `attrs.dynamicInput` from the callback? :)
[code]

Something like that?

[2015-02-08 15:30] huei90 commented on #84
yup

[2015-02-08 15:36] roylee0704 commented on #84
That's very awesome, I hope to see you soon @huei90. It's nice to see another Malaysian working very very well here.

[2015-02-08 15:37] huei90 commented on #84
Ha. Really nice to see people here.

Nice to meet you ^^

加油！哈哈

有問題在開 issue 咯！

[2015-02-08 15:37] #84 closed

[2015-02-08 16:09] roylee0704 commented on #84
okay ^^ ya, I have tried to pass in object via attrs, but no success.

[2015-02-09 08:08] huei90 commented on #83
nice

[2015-02-09 08:08] #83 closed

[2015-02-09 16:06] huei90 commented on #84
a DEMO?

[2015-02-09 17:26] thetutlage opened #86 "Validate only if has value"
I have situation where i only want to check if the value is valid url if it has value. Which means it is not required but the value should be url if present.

So far it is not working for me

##Input field

[code]

[2015-02-10 06:58] huei90 commented on #86
It depends on the url validation type - regular expression

[2015-02-10 07:25] thetutlage commented on #86
I am using the default url regular expression , the one served with validation rules

[2015-02-10 07:49] huei90 commented on #86
@thetutlage

The default url regular expression is
[code]

So you have to modify the regex for url.

[2015-02-10 09:25] thetutlage commented on #86
Okay make sense

[2015-02-10 09:25] #86 closed

[2015-02-16 01:38] #78 closed

[2015-02-16 01:38] #75 closed

[2015-02-16 01:38] #56 closed

[2015-02-17 03:17] malykhinvi commented on #24
@huei90, the snippet you provided works just fine, if we enter *password* first. If I enter *passwordAgain* first and then *password*, the **matching** validator error will still present

[2015-02-17 04:29] malykhinvi commented on #24
For now I use simple workaround. On password change I manually broadcast *submit* event for desired field(*passwordAgain* in the example above):
[code]

[2015-02-20 15:58] huei90 commented on #24
:+1:

[2015-02-27 16:00] exonen opened #89 "Custom attr. values/objects to be visible in error message"
Hello there,

I have the following rule:

[code]

and rule message:

[code]

and the html:

[code]

Question:

How to get {DIGIT} object visible in error message ?

Thanks

[2015-02-28 09:31] mdmunir opened #90 "[ENH/Change] validationSubmit and validationReset"
- `validationSubmit` and `validationReset` should not required `ngClick`. It must only excecute `$validationProvider.validate(form)`.
- If value not provided, it must automatically detect `form` element from parent element.
`form = $(element).closest('form')`.

Overall... Thanks :+1:

[2015-03-03 03:03] huei90 commented on #90
[code]
I suppose that every form has their own purpose.
It should do something after validation. Therefore `ngClick` is needed.
The flow is: execute `$validationProvider.validate(form)` -> `ngClick`

[code]
I try it first XDD

[2015-03-03 03:07] huei90 commented on #73
Hi @mdmoura

I suggest you on using [angular-validation-schema](https://github.com/thetutlage/angular-validation-schema) to set the `valid-method`

[2015-03-03 03:07] #46 closed

[2015-03-03 03:07] #52 closed

[2015-03-03 03:08] huei90 commented on #15
Close for now.

[2015-03-03 03:08] #15 closed

[2015-03-03 03:08] #80 closed

[2015-03-03 03:12] huei90 commented on #89
hi @exonen
For now, you can do it by yourself

example

rule
[code]

rule message
[code]

[2015-03-03 06:26] mdmunir commented on #90
**should** but not **must** :D. If want to do something after validation, set attribute `afterValidate` look more great for me.

[2015-03-03 06:39] huei90 commented on #90
May I know what's the case you are using now?

[2015-03-03 06:56] mdmunir commented on #90
nothing... its just suggestion :D.

[2015-03-03 07:29] zitniak opened #91 "Email field is validated although it's not required"
When I define validation of not required email field and put empty value there it reports 'This should be email'. But expected behavior should be when field is not required, empty field will be no validated
[code]
Same for Url type field.

What do you think? How could I easy achieve validation of email field only when it's provided?

[2015-03-03 07:37] huei90 commented on #91
@zitniak

I suppose that you are using the `rule.js` file

the email regex is `/^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/`

if you try this
[code]

Overall, you should change the regular expression of validator email.

[2015-03-03 07:39] huei90 commented on #90
Then I'm going to close this issue.

In conclusion,
why we need validation? We need to prevent invalid form submit. That's why we need a proper validation before the form submit.

[2015-03-03 07:39] #90 closed

[2015-03-04 21:34] 3lfist opened #92 "How can we change where success and error messages shows up?"
Success and error messages are show up below the input field by default in an unstyled `<span>`. Obviously this won't work for some designers so is there a way to control where the messages show up?

[2015-03-05 01:53] huei90 commented on #92
Sure @3lfist
You need to use `message-id`, it allow you to customise your own validation output
https://github.com/huei90/angular-validation/blob/master/API.md#use-a-custom-valid-message-

[2015-03-08 12:50] prugel opened #93 "invalid-callback"
invalid-callback not work for me.
angular 1.3.14
validation 1.3.0

I change some code. Then It work I expect

[code]

[2015-03-09 01:35] huei90 commented on #93
Yup! Thanks for the notice.
I will fix it!

[2015-03-09 06:10] #93 closed

[2015-03-15 10:34] CarbonFactory opened #95 "Incompatible with ui-select or selectize"
`Error: [$compile:multidir] Multiple directives [selectize, validator] asking for new/isolated scope on: <select class="ng-pristine ng-untouched ng-valid" validator="huei" data-ng-model="customer.salesPerson" data-placeholder="Sales Person" name="salesPerson" data-selectize="" data-options="">`

Duplicate of  #65

[2015-03-17 12:56] jamhall opened #96 "Able to compile validation output message? (template validation message)"
Hello,

Great module!

I would like to translate the default messages for example, I have this:

[code]

Please note that `generic.form.validations.required` is a translation key.

It would be nice if this module could interpolate the error html so I have the translated message.

Any ideas to solve this?

Thanks!

[2015-03-19 16:48] wesley3523 opened #99 "email exists solution $http"
Is there a way to do a $http request in my custom validation?

Thank i appreciate it

[2015-03-20 01:44] huei90 commented on #99
For your reference
https://github.com/huei90/angular-validation/issues/2

There're more references within the post.

[2015-03-25 17:24] danicomas commented on #68
An example that how I can open a bootstrap tooltip on error? @huei90

[2015-03-25 17:31] danicomas commented on #68
@huei90 I want to do something like that (Example with jquery validate):

showErrors: function (errorMap, errorList) {
        this.defaultShowErrors();

        // destroy tooltips on valid elements
        $("." + this.settings.validClass).tooltip("destroy");
        $("." + this.settings.validClass).removeAttr("data-original-title");

        // add/update tooltips
        for (var i = 0; i < e

[2015-03-25 22:32] huei90 commented on #68
Hi @danicomas Try using `message-id`

[2015-03-26 09:40] danicomas commented on #68
Look at this: http://plnkr.co/edit/0tBZlijiwmDrSWcCP7U7?p=preview

The tooltip always appears. How can I solve this? @huei90

[2015-03-26 09:59] huei90 commented on #68
@danicomas You are able to disable success message shown by using `$validationProvider.showSuccessMessage = false; `

[2015-03-26 10:36] danicomas commented on #68
@huei90 I don't want this. I want to show the tooltip when error appears.

[2015-03-26 11:04] danicomas commented on #68
Other thing is that when you click on submit button no show errors! @huei90

[2015-03-26 11:09] danicomas opened #100 "Add showErrors function"
When we click on submit button no show errors! @huei90 We need a showErrors function or when you do $validationProvider.checkValid(form) could be triggered.

[2015-03-26 11:14] danicomas commented on #100
Using this $validationProvider.validate(form) we can do it.

[2015-03-26 11:14] #100 closed

[2015-03-26 11:28] danicomas commented on #68
I have updated the plnkr.co: http://plnkr.co/edit/0tBZlijiwmDrSWcCP7U7?p=preview

I could do it but I think that best way is pass the message for the following callbacks:

[code]

[2015-03-26 12:19] danicomas opened #101 "Add valid-method="keyup""
In case that input type="text" could be better. @huei90

[2015-03-26 12:21] danicomas commented on #40
+1! very important!

[2015-03-27 01:55] huei90 commented on #68
Great! Seems `validCallback` is works! Thanks for your update. :beers:

[2015-03-27 01:57] huei90 commented on #100
:beers:

[2015-04-07 18:17] lopsided commented on #91
For reference, adding `|^$` to the end of the pattern fixes this. It simply says, "or match an empty string".

@huei90 what do you think about making this the default behaviour? It makes it a bit more flexible and what I think most people would expect (at least in my experience).

[2015-04-08 03:13] huei90 commented on #91
The email regex is set in `rule.js` as default used.
Anyone can change it on their own `rule.js`.

`rule.js` here just show some example only =)

[2015-04-17 11:37] smsahu opened #103 "Validation not working when using ng-model-options="{ getterSetter: true }""
Hi,
Validation is working for simple ng-model but not when used with ng-model-options

Please find the reference code:
http://plnkr.co/edit/Ipjll1?p=preview

[2015-04-21 23:52] havocdrake opened #104 "Option to enable/disable a 'deep watch' option on 'model'"
Hello, great plugin... very configurable. But I am thinking if we can add an option to enable disable the deep watch option for scope.$watch('model', function(value) {}, 'deep watch');
I am having a problem watching a parent object changes that have two child properties, i.e.
[code]
I am watching creditCardExpiry as ngModel attribute -- if one of the child value was altered, the default valid-meth

[2015-04-23 16:59] huei90 commented on #104
Hi @havocdrake Would you mind give us more detail about this? It's better if you give a fiddle/plurk link.

[2015-04-23 17:01] huei90 commented on #103
Sorry @smsahu
This version doesn't support ng-model-options yet. Are you super need for this feature?

[2015-04-23 17:01] huei90 commented on #101
Since it has a little different with `watch`

[2015-04-23 17:02] huei90 commented on #99
Close issue. Open it if you have further question. Thanks :smile:

[2015-04-23 17:02] #99 closed

[2015-04-23 17:05] huei90 commented on #92
Close. Open it if you are further question.

[2015-04-23 17:05] #92 closed

[2015-04-23 17:05] huei90 commented on #91
Close. Open it if you are further question.

[2015-04-23 17:05] #91 closed

[2015-04-23 17:05] huei90 commented on #89
Close. Open it if you are further question.

[2015-04-23 17:05] #89 closed

[2015-04-23 17:05] huei90 commented on #73
Close. Open it if you are further question.

[2015-04-23 17:05] #73 closed

[2015-04-26 10:41] npearson72 opened #105 "Will this handle strings as numbers?"
I need to display floats with .00

The problem with the number input type is that it cuts off those decimals, leaving me with numbers like:

4.15
4.1
4

This looks pretty inconsistent in my forms, and is not a good representation of money -- which is what I need.

If I use a standard input field that isn't a number type, it looks fine but does not get validated for numbers.

Is this possible to do

[2015-04-26 12:24] huei90 commented on #105
You need set your own validation expression.

See https://github.com/huei90/angular-validation/blob/master/API.md#setup-a-new-validation-setexpression-setdefaultmsg-with-regexp-or-function-in-config-phase

[2015-04-27 03:25] havocdrake commented on #104
I'm trying to do this:
[code]
The model of two inputs creditEFTOffline.expiry.month(input1) and creditEFTOffline.expiry.month(input) has a parent model creditEFTOffline.expiry(the div) -- I wanted the "validator='pastExpiry'" to be triggered once one of the child change its values.

This could only be done if i set the 3rd parameter(deep watch) of scope.$watch('model', function(value) {}, 'deep wa

[2015-05-07 21:51] zafarullahjoiya commented on #19
i am facing a strange problem.i am really tired to configure this problem.i see the default value of $valid is false when user fill the form correctly it become true then submit button enable.can any one tell me here how we can set the default value of $valid false instead of true ?

[2015-05-08 01:33] huei90 commented on #19
Hi @zafarullahjoiya Sorry that I didn't mentioned this on the Document.

Here's you can change the Initial value of $valid
https://github.com/huei90/angular-validation/blob/master/API.md#customizable-initial-validation

[2015-05-09 16:26] kcliu opened #107 "replace grunt with gulp"
for speed up and easier maintenance

[2015-05-09 17:18] zafarullahjoiya commented on #19
HI Huei Tan

Thanks for response....i have resolve the issue...The issue was with
ng-model.
Thanks once again

zafarullahjoiya

On Thu, May 7, 2015 at 6:34 PM, Huei Tan <notifications@github.com> wrote:

--
Web Developer

[2015-05-10 02:47] #105 closed

[2015-05-10 02:48] huei90 commented on #107
Yes. But I won't do that until I need that =)

[2015-05-11 04:00] huei90 commented on #107
Close it. Open if needed.

[2015-05-11 04:00] #107 closed

[2015-05-11 04:01] huei90 commented on #101
Close it. Open if needed.

[2015-05-11 04:01] #101 closed

[2015-05-11 04:03] huei90 commented on #95
@CarbonFactory Sorry for the late reply.

Any update on this?

[2015-05-11 04:05] huei90 commented on #96
Hi @jamhall I prefer not to do this in the validation method. We should handle this on the javascript function, not in angular way.

I'm going to close this, open it if needed.

[2015-05-11 04:09] huei90 commented on #104
Hi @havocdrake Thanks for reaching this problem.

But I'm not suggesting doing deep watch in validation.

It's quiet confuse on the structure to validate
[code]

you can try
[code]

Can customise your validator `xxx` and `yyy` to handle attribute `check`

:+1:

[2015-05-11 06:40] kcliu commented on #107
haha I can do that for u

[2015-05-11 08:02] jamhall commented on #96
Hello, could you be a bit more explicit please?  Got a work around for
others? There is currently no other way to do it!  My commit doesn't break
anything.   Thanks.
On 11 May 2015 06:05, "Huei Tan" <notifications@github.com> wrote:

[2015-05-11 08:06] jamhall commented on #96
Users should have the ability to use a custom template.  You allow custom
html but not a parsed template,  how could I use the translate function, or
any other template function if the template is not parsed?
On 11 May 2015 06:05, "Huei Tan" <notifications@github.com> wrote:

[2015-05-11 08:07] huei90 commented on #96
Hi @jamhall

In your example, you are using `filter` to translate your message.

You can do the same using javascript function

[code]

[2015-05-11 08:09] huei90 commented on #96
Let me think about this.

[2015-05-11 08:12] huei90 commented on #107
hmmmm... But I see no benefit on this change.

[2015-05-11 08:13] jamhall commented on #96
Your example would not work because the template is not parsed :(
On 11 May 2015 10:08, "Huei Tan" <notifications@github.com> wrote:

[2015-05-11 08:22] huei90 commented on #96
What's the meaning of "the template is not parsed" ?

In the source code, It's just output a html code only.

[code]

[2015-05-11 09:12] jamhall commented on #96
But that's the point. If you cannot use a custom template, then you cannot use any template functions.

You have put this function:

[code]

This would not work. You cannot call a modules function in the `app.run` or `app.config` functions. You only have access to provider functions.

Most angular modules allow a template to be parsed. I don't see why this is a problem for you?

[2015-05-11 09:18] jamhall commented on #96
And by parsing I mean something like this:

[code]

Why, with your current module am I unable to call template functions?

[2015-05-12 04:00] huei90 commented on #96
Hi @jamhall Thanks for reaching this question.

Seems in your case you need those "template" like validation message, I think it's needed to compile if we provide template validation.

But for now, validation message is simple and plain, maybe next version we can provide the message in template for more customisation :smile: .

Add this as enhancement.

[2015-05-12 14:21] rreeve07 commented on #95
I ran into the same issue. The error is caused by both ui-select and angular-validation asking for isolated scopes on the same element from within their respective directives. This is not something that angular currently supports, and I am not sure if they ever will.

The best fix--imo--would be to change the validator directive to remove the isolated scope. This would make the directive much more

[2015-05-12 14:51] rreeve07 opened #108 "Completely disabling validation"
I would like to be able to completely remove validation in certain cases.

For example: I want to enable an input based on another input; however, I also want to disable the validation on the disabled input. http://plnkr.co/edit/RO1n8j4ABQ5iZVq9EdqV?p=preview

Is there any way to do this?

[2015-05-12 16:25] huei90 commented on #108
Try `no-validation-message`

https://github.com/huei90/angular-validation/blob/master/API.md#dont-show-the-valid-message-no-validation-messagetrue

See if this works.

[2015-05-12 16:29] rreeve07 commented on #108
That doesn't appear to work at all. Setting no-validation-message="true" does not stop the submit button from validating the field (it also displays the validation message).

http://plnkr.co/edit/RO1n8j4ABQ5iZVq9EdqV?p=preview

[2015-05-12 16:37] huei90 commented on #95
@rreeve07 It can be fixed by using your case.

In this way? `ng-model` `validator` on the `<ui-select` ?
[code]

[2015-05-12 16:40] huei90 commented on #108
Try
[code]

 use `{{!testAModel}}`

[2015-05-12 16:45] rreeve07 commented on #108
That also does not work. The submit button still causes validator to run on the input regardless of ```no-validation-message```.
[code]

[2015-05-12 16:49] huei90 commented on #108
Seems you need the `valid-method` check that.

[2015-05-13 11:42] lopsided commented on #91
In case anyone else stumbles across this, adding my fix in the regex does not actually fix this since the validator only passes to the regex if a value is provided. In my case I overrode the `email` rule in the `rule.js` file and replaced it with a simple callback so if there is no value it returns as valid.

[code]

[2015-05-13 18:20] jlsg opened #109 "How to work with ng-include"
I've been trying to get validation to work with partials using ng-include. I've tried wrapping each include in an ng-form
    `<ng-form id="foo" name="fooName" ng-include="path to partial"></ng-form>`
or with out ng-form,
    `<div ng-include="path to partial"></div>`
Validation on the input works in the parials, I can get the message and the $invalid is set on the ng-form but not on the main `<fo

[2015-05-14 13:47] kcliu commented on #107
it's ok

[2015-05-14 14:12] huei90 commented on #107
I need some help on demo.html documentation. Its not yet complete, more example, UI, API document.

It will be great if you can help me on that XD

[2015-05-14 21:24] Rafailong opened #110 "How to validate a list?"
Hi there, this is a grate angular module thank you for share! :D

But I wonder if there is a way to validate a list of element?

What I am trying to do is I have a forme in which I have a list of things and I must validate that at least 1 thing is selected and 10 things can be selected as much.

So I cant find a way to achieve that validation.

Hope you can help!

[2015-05-19 03:36] huei90 commented on #110
duplicate #40

[2015-05-20 12:31] facultymatt opened #111 "Trouble focusing on first invalid element on submit"
Currently you focus on the first element when a user submits an invalid form. This was suggested by #11. In some instances where the `isValid` on [this line](https://github.com/huei90/angular-validation/blob/master/dist/angular-validation.js#L574) is a promise, the focus does not work.

[2015-05-20 15:58] #109 closed

[2015-05-20 21:23] alexgoroshko commented on #24
@huei90 do you have another solution for @malykhinvi issue? I really don't want to get validation logic into controller.

[2015-05-21 09:12] MayankLogiciel opened #112 "v1.3.1 & v1.3.0 not showing multiselect validation error"
I updated to v.1.3.0 & v1.3.1 from v.1.2.6 and now validation on html multi select  not wokring though it continue to work on html single select as earlier.

When i reverted back to v1.2.6 html multi select and single select validation working fine.

[2015-05-26 01:40] huei90 commented on #112
Sorry for the late reply. I will try to look for it this few days.

[2015-05-26 01:41] huei90 commented on #111
@facultymatt Thanks for reporting this.

[2015-05-26 10:09] CarbonFactory commented on #95
@huei90 Sorry for the delay. I switched to [Kelp404](https://github.com/kelp404/angular-validator). I'll switch back once we have a workaround/fix for this.

[2015-05-26 10:13] huei90 commented on #95
it's ok

[2015-05-27 09:31] dmitry-dedukhin commented on #95
As a workaround you can use additional hidden input with validation on it:

[code]

[2015-05-27 09:41] dmitry-dedukhin commented on #104
+1
In my case I've created custom component like dropdown list with checkboxes.
Component fills array model inplace i.e. does not change array reference.
So, validation doesn't track changes in this array since its reference doesn't change.

[2015-05-29 02:30] mpanichella opened #113 "Error with AngularUI datepicker"
When i add validation to AngularUI Datepicker, i have an error that say

Error: [$compile:multidir] Multiple directives [datepickerPopup, validator] asking for new/isolated scope on: <input name="VigenciaDesde" class="form-control ng-pristine ng-untouched ng-valid" type="text" data-ng-model="poliza.VigenciaDesde" validator="required" valid-method="watch" is-open="openedDesde" close-text="Close" da

[2015-05-29 02:31] huei90 commented on #113
Hi Would you mind giving me a short demo (plunkr or jsbin) for it?

[2015-05-29 02:34] mpanichella commented on #113
Hi, i have a big project created in VisualStudio, when i finish this project i can send you an example.
But if you want, only add the validator to AngularUI Datepicker, and you can see the error. Thank you very much for your fast response.

[2015-05-29 02:35] huei90 commented on #113
Ok I will try it. list at bug.

[2015-05-29 02:36] mpanichella commented on #113
thank you very much. One question, is possible to add validation conditional? for example, if i check a radiobutton validate x field but if i check other radio validate different in same form

[2015-05-29 03:54] think2011 opened #114 "type="number" validator="number,maxlength=4""
it's bug when type="number"?
[code]

![](http://s1.momo.moda/2015/05/29/daca41214b39c5dc66674d09081940f0.gif)

[2015-05-29 03:56] huei90 commented on #114
hmmmm.. thanks for report this. I haven't tried anything in `type="number"` yet :hushed:

[2015-05-29 04:04] think2011 commented on #114
it's very powerful validation, thanks!😄

[2015-05-29 04:54] think2011 opened #115 "How can I allow empty fields？"
[code]
![](http://s1.momo.moda/2015/05/29/6e2713a6efee97bacb63e52c54f0ada0.gif)

If user not any input, i want allow to submit，can you give me a example？

[2015-05-29 04:56] huei90 commented on #115
You should customise your validation that null will pass.

[2015-05-29 04:58] think2011 commented on #115
Ok, I guess too，thanks！

[2015-05-29 04:58] #115 closed

[2015-05-29 06:35] huei90 commented on #115
:+1:

[2015-05-29 07:30] think2011 opened #116 "validation-submit="form"，want foucs to error input."
[code]

![](http://s1.momo.moda/2015/05/29/d1f491a404d6854880943e5c3cd9ca25.gif)

I just suggested, because the page may be very long :)

[2015-05-29 08:03] huei90 commented on #116
duplicate problem on focus
https://github.com/huei90/angular-validation/issues/111

[2015-05-29 08:05] #116 closed

[2015-05-29 08:15] huei90 commented on #116
this is a good suggestion. thanks!

[2015-05-29 10:15] think2011 commented on #111
#### [L419](https://github.com/huei90/angular-validation/blob/master/dist/angular-validation.js#L419):
[code]

#### and this working for me:
[code]

#### but I don't know this is a right solution.

[2015-05-30 12:11] think2011 commented on #111
I modify [L371](https://github.com/huei90/angular-validation/blob/master/dist/angular-validation.js#L371) and [L574](https://github.com/huei90/angular-validation/blob/master/dist/angular-validation.js#L574)

[code]
It's working for me.

[2015-06-04 02:02] huei90 opened #118 "Looking for maintainer"
Currently looking for `angular-validation`'s maintainer.

If you interest on this, please drop me a message or email me.

Thanks. There are still lot of works to do to improve `angular-validation`

[2015-06-04 04:15] huei90 commented on #111
Fix. Thanks @think2011

[2015-06-04 04:15] #111 closed

[2015-06-09 13:10] mpanichella commented on #113
Something new with this error?

[2015-06-10 02:59] huei90 commented on #113
Sorry @mpanichella not yet :cry:

[2015-06-15 13:32] ruslanchek opened #119 "How to validate multiple forms separately"
I have a few forms on a page, and submit one of them emits validation on all another, that have "ng-dirty" classes. How to avoid this case?

[2015-06-16 01:46] huei90 commented on #119
@ruslanchek How about separate the form?

[2015-06-16 03:35] qiuling2014 opened #120 "你好，我有个问题"
在使用时，我发现如何我加上一个校验的格式，该项就会变成必填项，这个如何处理？比如：我有一个telephone字段是个不必填项，只有当用户输入后才要去检查格式，但是我提交表单时，它会提示电话格式不对。

[2015-06-16 03:37] huei90 commented on #120
你好，調整你的 telephone regular expression / function ，允許不是必填就可以了

[2015-06-16 03:48] qiuling2014 commented on #120
thank you very much, best wish for you.

[2015-06-16 03:48] #120 closed

[2015-06-16 03:50] huei90 commented on #120
有問題隨時發文 :+1:

[2015-06-16 04:34] qiuling2014 opened #121 "你好，我还有个问题"
能不能让$validationProvider.checkValid方法只检测必填项的...现在它连不必填也会检测

[2015-06-16 04:35] huei90 commented on #121
你可以 － Customizable Initial Validation
https://github.com/huei90/angular-validation/blob/master/API.md#customizable-initial-validation

讓你參考

[2015-06-16 04:44] qiuling2014 commented on #121
thank you very very much, you art good man,best wish to you.

[2015-06-16 04:45] #121 closed

[2015-06-16 04:51] huei90 commented on #121
:beers:

[2015-06-16 06:39] ruslanchek commented on #119
@huei90 What does it mean? The forms are separated, but placed in one page.

[2015-06-16 06:50] huei90 commented on #119
[code]

How about this?

[2015-06-16 06:54] ruslanchek commented on #119
@huei90 I have the same code. The forms are separated. But naven't validation-submit attribute, is the reason i think. Thx.

[2015-06-16 06:57] huei90 commented on #119
Would you mind post your form html here? I would like to help on debugging :smile:

[2015-06-17 04:37] sjmcpherso commented on #114
+1, this is important for UX in responsives site to give the correct input keyboard

Only seem to cause problems with a combination of validation maxlength and/or minlength and type="number" i.e. input[type=email], input[type=tel], input[type=name] all work correctly and type="number" with 'required' and/or 'number' validations work fine as well

[2015-06-17 04:53] huei90 commented on #114
I have checked the problem.

Looks like using `type=number`, browser will get input only in number, given text is not pass to the value.

Also, we need some other more check in the `rule.js`

https://github.com/huei90/angular-validation/blob/master/src/rule.js#L16

for your reference.

[2015-06-17 05:02] sjmcpherso commented on #114
Ok so you think its an issue due to a number being passed in as the value instead of a string?

I see the value passed into the minlength/maxlength expression is 'undefined'

minlength: function(value, scope, element, attrs, param) {
console.log(value) //returns 'undefined'

[2015-06-17 05:13] huei90 commented on #114
you are right. We need to special handle `minlength` in the `rule.js`

[2015-06-17 05:52] sjmcpherso commented on #114
I haven't tested intensively but this seems to do the trick

                var checkValidation = function(scope, element, attrs, ctrl, validation, value) {
                    if(value) value = value.toString();  <--- addition

                    var validators = validation.slice(0),

will do some more testing

[2015-06-26 05:38] jamesparasole opened #123 "Not recognizing styled select dropdowns"
Great job...have been able to implement this pretty easily. However, I ran into one issue. When using jquery to style select dropdown options (like below image), this validator is not recognizing when an option is selected. Added "ignore: ':hidden:not(:select)'", but still no go. My select code is:

<select  id = "selectdropdown" name = "selectdropdown" ng-model = "form.selectdropdown"  required-m

[2015-06-26 05:55] huei90 commented on #123
?? where's the code.

[2015-06-26 17:24] jamesparasole commented on #123
The dropdown styling is from here: http://jsfiddle.net/BB3JK/47/

The validation is from here: http://plnkr.co/edit/XbDYKrM2QUf8g1ubTHma?p=preview

[2015-06-30 09:48] huei90 commented on #123
@jamesparasole I'm not really understand the demo you gave me.

[2015-07-02 10:34] tflx opened #124 "Submitting form normally"
Can I do a normal form submit (action="someurl") when validation is okay without the use of a controller?

[2015-07-03 23:17] josearodrigueze commented on #113
How can we resolve the collision policy? power by Google Translate
Code in plunker
http://plnkr.co/edit/7WvMsv?p=preview

[2015-07-05 07:39] huei90 commented on #124
No, you are suggest to use ngClick.

[2015-07-06 02:29] tshi0912 opened #125 "Add support to onboard error message explicitly."
Hi huei90,
First of all, thanks to provide so useful validation module in angular world. I like it very much.
It's powerful to validate the form input, textarea and select control in client side, but it's only in client side.
In many cases, we want to provide a consolidated way to feed back the error messages from server side validation to the specific form controls, say, validate whether the user

[2015-07-06 02:42] tshi0912 commented on #125
I have provide a pull request about this feature.
https://github.com/huei90/angular-validation/pull/126

[2015-07-07 10:59] rajan-logiciel opened #127 "Validation Not Working Propely On ngRepeat"
if we use validator with in ngRepeat then its Not working properly it
Its perform validation at last input..... What is the solution of it??

See the example :-
http://plnkr.co/edit/1PwcjDOyXuQBUEA8N6J7?p=preview

[2015-07-08 10:32] hungdoan2 opened #128 "disunion validation on "model change" vs on "submit a form""
I write a custom model binder
Example:
Model value = 1000000 < bind to view > View Value = 1,000,000
and
View Value = 1,000,000 < bind to model> Model value = 1000000

When I'm typing some thing in the input. I got valid validation ( because of value = 1000000)
but
When I submit the form. I got invalid validation ( because of value = 1,000,000)

Look at your code, I get this:

**On submit validati

[2015-07-10 06:01] hungdoan2 commented on #127
Hi Kumar,
I which version of "angular-validation" did you test with ?.

I think you are using angular js 1.2.x and angular-validation 1.3.x

So that's the reason your test case was fail.

If you include angular 1.3.x version in your code. It will work perfectly fine.

p/s: to @huei90  Your library is so great. But  the most confused thing when I work with your lib is versioning . It's hard to figu

[2015-07-10 06:04] huei90 commented on #127
Thanks @hungdoan2

You are right, it's quite confuse because the version 1.2.x and 1.3.x ...

It depends on the angular version you are using.

[2015-07-10 06:32] rajan-logiciel commented on #127
Yeah... Its working fine with angular 1.3.x
thanks  @hungdoan2

[2015-07-10 06:32] #127 closed

[2015-07-10 06:59] huei90 commented on #127
:+1:

[2015-07-13 02:24] huei90 commented on #128
Do you mean that your value will be `1,000,000` instead of `1000000` and can't pass the validation?

[2015-07-13 02:26] huei90 commented on #125
How about invalidCallback?
https://github.com/huei90/angular-validation/blob/master/API.md#add-valid-callback-function-invalid-callback--valid-callback

[2015-07-13 02:26] #124 closed

[2015-07-13 02:27] huei90 commented on #114
hmmm.Sorry @think2011 @sjmcpherso I have currently no idea about this.

Seems browser has special handle for input text or number, should we detect it?

[2015-07-13 02:27] huei90 commented on #112
@MayankLogiciel Do you mind showing your multi select validation code to me?

[2015-07-13 03:24] tshi0912 commented on #125
The "invalidCallback" can not perform this feature well. Since the validations invoked from back-end, we can't make sure the label messages, besides, it should be handled globally,developers don't want to setup invalidCallback for every inputs.

[2015-07-13 04:15] huei90 commented on #125
Hi @tshi0912
We still have the global `invalidCallback` to use and didn't list in API.md
https://github.com/huei90/angular-validation/blob/master/src/provider.js#L280

You can use config to define your `invalidCallback`

Is this the one you mentioned?

[2015-07-13 04:30] tshi0912 commented on #125
看了下代码，估计invalidCallback还是做不到的，我的目标是让能将后台设置返回的错误消息设置到相应的控件上（以Angular Validation插件应有的方式），invalidCallback只是提供了一个回调点，其他的功能，譬如显示提示label啥的都没有。

[2015-07-13 04:33] huei90 commented on #125
是指需要用到 ajax 嗎，然後回傳 response 的資料？

[2015-07-13 04:54] tshi0912 commented on #125
是的，通过ajax由后端返回某种格式的对象，然后前端检查格式对象中的返回码，譬如code==2，代表返回的是验证错误，则其中的数据对象包含了错误文本的数据，通过调用$validationProvider.showErrors(form, data.fieldErrors);显示。

[2015-07-13 05:53] huei90 commented on #125
那你可以用 `setExpression()`
https://github.com/huei90/angular-validation/blob/master/API.md#setup-a-new-validation-setexpression-setdefaultmsg-with-regexp-or-function-in-config-phase

因為 angular-validation 已經幫你做好 promise 的部分，你只要回傳 `return $q ...` 即可。

[2015-07-13 07:13] tshi0912 commented on #125
(⊙o⊙)…额，你还是没明白我的意思。$validationProvider.showErrors(form, data.fieldErrors);这样的API是用来统一处理验证异常的。也就是所有的后端验证错误都是通过统一调用一次这个API就全部处理掉了。因为在我的程序里面，不管前端做不做校验，后端还是全部要再做一遍的，他不是处理单个验证逻辑，也不是用定义表达式的方式就能搞定的。这是一种普适的处理，对ajax返回的结果进行统一监控处理，如果发现是验证出错，则定位到具体的表单，将错误文本按字段反馈到不同的input控件中。

[2015-07-13 07:23] huei90 commented on #125
Since you are doing backend validation, why you need to do again the client-side validation?

[2015-07-13 07:35] tshi0912 commented on #125
It's not re-validating on client-side. It just feed back the errors (which produced by back-end validations) into client-side input controls.

[2015-07-13 07:41] huei90 commented on #125
Good, your concern is right.

I have saw your code
[code]

You just want to check the specific form but not trigger from the submit?

Am I right?

[2015-07-13 08:22] tshi0912 commented on #125
Yes, you got it.

[2015-07-14 13:25] wutgit commented on #128
Hello!

I have actually ran into exact same problem too, when i started using $parsers/$formatters.

The problem is, as hungdoan2 described, that when clicking submit, $viewValue is sent to validator, while when changing value in UI, the model value is used.

For his example,

1. When clicking submit, $viewValue=1,000,000 and it is sent to validator (check on submit section).
2. When typing someth

[2015-07-16 07:22] MayankLogiciel commented on #112
I wasn't able to revert back to that state. Since then we have changed a lot of things. Also we have made custom multi select due to some other crashing issue with some android versions.

I quickly tried to test multi select validation and now validations are working fine with v.1.3.1.

Thanks for your time and work. I really appreciate your effort.

[2015-07-16 07:22] #112 closed

[2015-07-16 14:37] Alex-Cosma commented on #103
Any word on this? :+1:

[2015-07-17 02:07] huei90 commented on #103
not yet.
 Do you have any idea how angular-validation use ng-model-options?

[2015-07-20 13:08] RichardSilveira commented on #99
I have this "$http is not definwed" message error, isn´t possible to use services in module.config...How to solve that?

Thank´s

[2015-07-20 13:17] RichardSilveira commented on #35
Hi huei, can you post a sample to demonstrate how to create a custom validation using services like $http, i believe that issue isn´t a litlle confuse to some dev´s...

[2015-07-21 01:58] huei90 commented on #99
You can use `$httpProvider` in config.

[2015-07-21 02:02] huei90 commented on #35
@RichardSilveira You can find out more here
https://github.com/huei90/angular-validation/blob/master/API.md#setup-a-new-validation-setexpression-setdefaultmsg-with-regexp-or-function-in-config-phase

[2015-07-22 13:18] pyalxx opened #129 "inValidCallback"

[2015-07-22 13:20] pyalxx opened #130 "inValidCallback in bower package"
Hi,

When installing with bower I still have inValidCallback in dist/angular-validation.js, though I can see that it is fixed in current version.

Please, let me know if I'm doing something wrong, thanks!

[2015-07-22 13:20] #129 closed

[2015-07-22 14:22] rmngrc commented on #108
The no-validation-message directive is not working for me as well. In my HTML I have:

[code]

But the error message is still showing up and the form can't be submitted. It seems to be a bug in the project.

[2015-07-22 15:06] rmngrc commented on #108
@rreeve07 @huei90

I've created a new PR with the fix of this issue. See https://github.com/huei90/angular-validation/pull/131 for further details :)

Cheers,

[2015-07-23 02:54] huei90 commented on #130
@pyalxx I'm not really understand your issue.
Is inValidCallback available to you?

[2015-07-23 06:22] pyalxx commented on #130
@huei90, here is the full the scenario:

- I've cleared a bower cache to be sure
- I've installed bower package using bower install angular-validation --save
- 1.3.1 version installed
- when I browse bower_components/dist/angular-validation.js it still contains:

if (scope.inValidCallback) scope.inValidCallback();

Therefore invalid-callback is not working. I had to change this line and include sc

[2015-07-23 14:29] RichardSilveira commented on #2
I´ve a lot os issues around async/remote validation, either using your or nelsonnomuto´ validation pluging, i made a simple test with nelsonnomuto version and i could see that works well with native new feature of angular 1.3 about async validations, your pluging work´s too? Have you a sample demo with angular 1.3 async validation?

[2015-07-23 15:02] huei90 commented on #2
@RichardSilveira Hi, in the currently angular-validation version, the answer is no. (not yet)

Do you mind help me on testing async for angular-validation?

[2015-07-23 21:50] RichardSilveira commented on #2
Ok, i will try do it and will give to you a feedback and plunkr demo, i think that it´s works...

[2015-07-24 01:56] huei90 commented on #2
Thanks!!!

[2015-08-10 02:56] huei90 commented on #130
Hi @pyalxx Sorry for the late reply.

Do you mean this?
https://github.com/huei90/angular-validation/blob/master/dist/angular-validation.js#L361

should be `scope.invalidCallback`,

we have some mistake on using `inValidCallback` and `invalidCallback`, we have fix this on this commit
https://github.com/huei90/angular-validation/commit/bf95088c673c11fd3fba6139e67af8259ed2fc1d

[2015-08-10 07:06] pyalxx commented on #130
Hi @huei90,

Thanks for reply. Yes, exactly.

But for some reason version that was provided by bower contained previous code (with inValidCallback). Therefore I've switched to manual inclusion of script into my projects.

I've just checked and installed with bower install and it is still the same in 1.3.1

[2015-08-10 08:10] huei90 commented on #130
Hi @rmngrc ,

I have checked that, 1.3.1 still using the old one `inValidCallback`

I will update it to 1.3.2 later, and there will be the `invalidCallback`

Sorry for this inconvenient :+1:

[2015-08-10 08:18] huei90 commented on #130
Done, you can download the latest code on bower using version 1.3.2 now :beers:

[2015-08-11 03:14] #130 closed

[2015-08-11 03:15] #123 closed

[2015-08-11 03:15] huei90 commented on #119
Open it if having the issue again.

[2015-08-11 03:15] #119 closed

[2015-08-15 09:57] j-langlois opened #134 "Any way to validate the form outside of the form scope?"
First of all, thanks for the great module. One of the best out there.
So I have this multi-step form where there are navigable links for on top. However, these links are outside of the current form scope. I was wondering if there would be a way I could get the form object outside of the form scope to validate it from a controller  e.g.

![snap4](https://cloud.githubusercontent.com/assets/13194485/

[2015-08-18 03:29] Nazanin1369 commented on #118
I am interested

[2015-08-18 03:52] huei90 commented on #118
Hi @Nazanin1369 Welcome =)

Currently support for angularjs1.2, and partly 1.3, you can find them on the branch tag v1.2.x, v1.3.x

Feel free to contribute the branch you like even you can create v1.4.x to support angularjs1.4

again, thank you for your interested :beers:

[2015-08-18 06:21] Nazanin1369 commented on #118
Sure Huei, Thanks

[2015-08-18 16:29] Nazanin1369 commented on #134
You can have a service which is responsible to change the state and inject it into your form scope controller and to your toolbar.
As you put the form in the $scope variable another way(but not so good) is to access the $parent scope from the $scope.$parent and authorize the state change.

[2015-08-19 01:35] huei90 commented on #134
@Nazanin1369 is right.
You are suggest to wrap them in the `<Form>`, in your case, broadcast may be the better solution.

[2015-08-19 23:02] alexgoroshko opened #135 "validation-reset and has-error input"
I extended validation provider like that:

![image](https://cloud.githubusercontent.com/assets/3901682/9370994/94d10ed2-469a-11e5-95f7-f286dc0061f1.png)

And then I just put some invalid data to input to get validation error

![image](https://cloud.githubusercontent.com/assets/3901682/9371057/015c9eb8-469b-11e5-8518-0987b7fc6592.png)

As you see angular validation properly added has-error class to

[2015-08-20 02:14] huei90 commented on #135
Check your code again. I saw you add and remove class on the `element.parent()`, might be the parent problem. Check again.

[2015-08-20 02:28] alexgoroshko commented on #135
Just added console.log() to my code snippet:

angular.extend($validationProvider, {
            validCallback: function (element) {
                console.log("validCallback");
                element.parent().removeClass('has-error');
            },
            invalidCallback: function (element) {
                console.log("invalidCallback");
                element.parent().addClass('has-err

[2015-08-20 02:32] alexgoroshko commented on #135
Pay attention that these inputs have validators. It seems like validation-reset fires invalidCallback

[2015-08-20 02:36] huei90 commented on #135
Yes you are right.
https://github.com/huei90/angular-validation/blob/master/src/directive.js#L225-L243

The reset will manually remove the value and remove the invalid element, and might trigger the invalidcallback function.

Reset must be **clean**. This should be improve! Thanks @alexgoroshko

[2015-08-20 04:00] alexgoroshko commented on #135
But if you make clear reset validation (without events) it won't solve the problem.
So I have such extension

![image](https://cloud.githubusercontent.com/assets/3901682/9375410/d792265e-46c5-11e5-9b9d-e8d68bf655fd.png)

It means if there is a validation error so "angular-validation" adds has-error class to parent div (because I need bootstrap red border on invalid input). Then just try to reset v

[2015-08-20 04:03] alexgoroshko commented on #135
Maybe add some reset-validation event where we will be able to set initial state like it's supposed to be before validation.

[2015-08-20 04:03] huei90 commented on #135
Have you tried this when using angular-validation in Bootstrap?
https://github.com/huei90/angular-validation#integrating-with-twitter-bootstrap

[2015-08-20 04:11] alexgoroshko commented on #135
Yes, I have. I was talking about reset-validation, that if you want to reset form validation where already exist some validation errors it won't fire validCallback and
$(element).parents('.form-group:first').removeClass('has-error');
won't be fired. Is it clear what I mean?

[2015-08-20 04:12] huei90 commented on #135
Yes, i get your point. We need a better and real `reset` for the form.

[2015-08-20 04:13] huei90 commented on #135
@Nazanin1369 Any opinion in this issue?

[2015-08-20 15:55] alexgoroshko commented on #135
Even in your demo http://huei90.github.io/angular-validation/ whe you jusr reload the page, input is clear, without ng-invalid class.

![image](https://cloud.githubusercontent.com/assets/3901682/9387919/58622916-4728-11e5-83b0-7116f52d10ed.png)

Then type just something wrong to get validation error. As you see for now input has a ng-invalid class.

![image](https://cloud.githubusercontent.com/ass

[2015-08-21 02:24] huei90 commented on #135
Yes, therefore

[2015-08-21 02:26] Nazanin1369 commented on #135
I will look into it
On Aug 20, 2015 7:24 PM, "Huei Tan" <notifications@github.com> wrote:

[2015-08-27 05:00] rtorino opened #136 "Can't find angular-validation module when using browserify"
This is an issue because the `package.json` file doesn't have main which point out to `dist/angular-validation.js`

[2015-08-27 06:11] huei90 commented on #136
Hi @rtorino Thanks for reporting this. Do you use this as node modules?

[2015-08-28 02:05] gustavolira commented on #95
Hi,
Any fix for this issue? I'm facing this same problem, I tried the workaround but did not work;

[2015-08-30 03:04] huei90 opened #137 "angularjs 1.4.7 support"
Need contribution.

[2015-08-30 03:05] huei90 commented on #136
@rtorino nudge

[2015-08-30 03:05] huei90 commented on #134
@j-langlois Get broadcast works?

[2015-08-31 15:44] j-langlois commented on #134
Dear friends,
I did not get broadcast to work but followed your suggestion and wrapped my toolbar inside the form, now it works but every form has the same form name, which is no problem for now. Thanks for the help!

[2015-08-31 15:45] huei90 commented on #134
Great, cool.

Great to hear that :beers:

[2015-08-31 15:45] #134 closed

[2015-09-04 12:13] newpaulinhu commented on #95
Any fix for this issue?

[2015-09-08 08:08] #136 closed

[2015-09-16 02:57] huei90 commented on #135
Hi @alexgoroshko
Sorry for the late fix.

The problem is fixed now. Please try again.

[2015-09-16 03:02] huei90 commented on #128
Hi @hungdoan2 @wutgit I have no problem on that.
Would you show me the example and I can test for that.

[2015-09-16 03:04] huei90 commented on #125
Unfortunately, you cannot check the form valid without submitting first.
Without trigger submit, you can't even know the validity of the form.

[2015-09-16 03:06] #135 closed

[2015-09-16 03:06] #110 closed

[2015-09-16 03:07] #104 closed

[2015-09-16 06:39] huei90 commented on #108
Fix.

[2015-09-16 06:39] #108 closed

[2015-09-18 04:17] hungdoan2 commented on #128
@huei90 This is what I have used in my product. I hope this will help.
http://plnkr.co/edit/FTI6yy

[2015-09-18 04:27] huei90 commented on #128
Hi @hungdoan2 Thanks for the link.

the value change because of `base-editors-textnumber="0"`, you can update the number expression to allow `,`.
Then everything will be fine. :smile:

[2015-09-18 04:31] huei90 commented on #128
[code]
This looks good to me.

[2015-09-18 05:56] hungdoan2 commented on #128
@huei90 yes, That is what I've done in my end.
But as I mention above.  The problem is that the validation express received different `value` in `different events`.
+ `value` will be `model value` on `model change event`
+ `value` will be `view value` on `form submit event`

=> It will reduce the `consistency` of your apis,=> We'll able to make more mistake.

So,I think, It's better to have both $

[2015-09-18 06:19] huei90 commented on #128
Somehow I finally got your point.

model change event <br/>
https://github.com/huei90/angular-validation/blob/master/src/directive.js#L274

ctrl.$viewValue <br/>
https://github.com/huei90/angular-validation/blob/master/src/directive.js#L253-L256

One is using model change `value` but one using the `ctrl.$viewValue`,
we should choose only one. Am I right?

[2015-09-18 06:37] hungdoan2 commented on #128
@huei90  yes, That is what I'm going to tell ^^.

[2015-09-18 06:39] huei90 commented on #128
:+1: Thanks for reporting this. It's a very critical problem :beers: I will fix it.

[2015-09-18 10:52] hungdoan2 commented on #95
@huei90 . The problem here is [multiple directives are applied to the same DOM element](https://docs.angularjs.org/error/$compile/multidir?p0=uiSelect&p1=validator&p2=new%2Fisolated%20scope&p3=%3Cdiv%20class%3D%22ui-select-container%20ui-select-multiple%20ui-select-bootstrap%20dropdown%20form-control%22%20ng-class%3D%22%7Bopen:%20$select.open%7D%22%20ng-model%3D%22multipleDemo.colors%22%20ng-disab

[2015-09-22 20:54] Nazanin1369 commented on #95
Any one fixing this?  Otherwise I can go ahead

[2015-09-23 01:15] huei90 commented on #95
welcome @Nazanin1369 Need your help.

[2015-09-24 02:58] chenli1989 opened #139 "ng-repeat表单,angularjs 1.2.x验证无效，angularjs 1.3.x有效，1.2.x不支持吗?"
angularjs-1.2.x submit提交验证无效

<form name="Form6" id="form6">
            <fieldset>
                <legend>Form (ng-repeat)</legend>
                <label>Required</label>
                <div ng-repeat="a in form6.required">
                    <input type="text" name="emailRequiredOnly{{$index}}" ng-model="a.required" validator="required" message-id="emailRequiredOnly{{$index}}"/>

[2015-09-24 03:02] huei90 commented on #139
剛我測了一下，1.2.x 支持喔，用法和 1.3.x 的一樣

[2015-09-24 03:05] huei90 commented on #139
你好，剛剛加上範例了。

[2015-09-24 10:46] chenli1989 commented on #139
用angularjs 1.2.28测试，ng-repeat表单，三个input循环,在点击提交submit时，只验证提示最后一个input。另两个都没验证提示，重新下载github上的demo换了1.2.28也是一样只验证提示最后一个！

[2015-09-24 10:46] chenli1989 commented on #139
用angularjs 1.2.28测试，ng-repeat表单，三个input循环,在点击提交submit时，只验证提示最后一个input。另两个都没验证提示，重新下载github上的demo换了1.2.28也是一样只验证提示最后一个！

[2015-09-25 02:40] huei90 commented on #139
@chenli1989 Thanks for reporting this.
I have found that 1.2.28 is not able to parse {{$index}}, therefore we have to special handle for this bug.

[2015-09-25 09:35] huei90 commented on #128
Hi @hungdoan2
Here's the change, please take a look for the pr.
https://github.com/huei90/angular-validation/pull/140

[2015-09-25 09:36] huei90 commented on #125
Open it if you have any question. :beers:

[2015-09-25 09:40] huei90 commented on #114
@think2011 @sjmcpherso Here's the fix.
Thanks for @hungdoan2 notified the possible bug.

And finally this fix the problem.

[2015-09-25 09:57] huei90 commented on #114
https://github.com/huei90/angular-validation/pull/140

[2015-09-25 10:10] tshi0912 commented on #125
Sometimes the Form is validated by server side, they just want flow the error messages into the form fields.That's it.

[2015-09-25 10:12] huei90 commented on #125
I'm trying to rethink about this feature now.

[2015-09-25 10:22] tshi0912 commented on #125
This kind of feature is really useful, since the validation always need to be taken on both client & server side.

[2015-09-28 13:44] huei90 commented on #128
Done. Open it if any problem.

[2015-09-28 13:44] #128 closed

[2015-09-28 13:44] huei90 commented on #114
Done, open if any problem.

[2015-09-28 13:44] #114 closed

[2015-10-01 05:56] huei90 commented on #139
Hi @chenli1989

I found this is the old issue in angularjs 1.2
https://github.com/angular/angular.js/issues/1404

[2015-10-06 03:30] #118 closed

[2015-10-06 03:35] huei90 commented on #113
I have no solution for this.
We can't have multiple directive for the input =(

http://stackoverflow.com/questions/27485848/why-cant-multiple-directives-ask-for-an-isolated-scope-on-the-same-element

[2015-10-06 03:51] huei90 commented on #103
Hi @smsahu @Alex-Cosma I have checked the api
https://code.angularjs.org/1.3.20/docs/api/ng/directive/ngModelOptions

Do you mind show your case using model-model-options in gettersetter true without angular-validation first?

[2015-10-06 03:52] huei90 commented on #95
Duplicate
https://github.com/huei90/angular-validation/issues/113

[2015-10-06 03:53] Nazanin1369 commented on #113
@huei90  I am working on this issue Huei. I was able to remove the isolated scope and make it work for the $watch. Currently I am working on other type of validation.

[2015-10-06 03:53] huei90 commented on #113
Ok sure. Open.

[2015-10-06 03:58] Nazanin1369 commented on #113
Now actually all the validation are working fine, I just need to verify couple of more things and will let u know to have a code review

[2015-10-06 04:11] huei90 commented on #113
Thank you @Nazanin1369 look forward to see that.

[2015-10-06 04:44] Nazanin1369 commented on #113
​Now the datepicker is working. There is only one issue with demo html
file. Since u r using Foundation css the bootstrap datapicker is not styled
properly. We have to use bootstrap css.​ What do u think?

Best Regards,

On Mon, Oct 5, 2015 at 9:11 PM, Huei Tan <notifications@github.com> wrote:

[2015-10-06 04:48] lvarayut commented on #118
HI @huei90,  I'm willing to help.

[2015-10-06 04:48] lvarayut commented on #137
Could you list all features that you wish to develop? I could pick up some of them.

[2015-10-06 04:49] huei90 commented on #113
Hi @Nazanin1369
We do have a demo link for bootstrap
http://plnkr.co/edit/rjIIkX

Do you mind edit it on plunker?

[2015-10-06 04:50] huei90 commented on #118
Hi @lvarayut Good to see you. Which feature do you want to help on?

[2015-10-06 04:53] lvarayut commented on #118
@huei90, could you list all features that you wish to have? I could pick up some of them!

[2015-10-06 04:55] huei90 commented on #118
Ok @lvarayut , I will do this on the board 1.3.x, 1.4.x.

Or you can start listing them by yourself.

[2015-10-06 04:57] lvarayut commented on #118
Alright :beers:

[2015-10-06 04:58] huei90 commented on #118
Let's have some :beers:

[2015-10-06 05:20] Nazanin1369 commented on #113
​That is fine but the plunker does not have my local changes for testing
before push. Do you want me to refactor the demo page to bootstrapUI?​

Best Regards,

On Mon, Oct 5, 2015 at 9:49 PM, Huei Tan <notifications@github.com> wrote:

[2015-10-06 05:59] huei90 commented on #113
Don't need to refactor the demo page.
You can create another page name `demo-bootstrap.html`.

[2015-10-06 12:34] katytov commented on #99
@RichardSilveira, You can inject it like this :
var initInjector = angular.injector(['ng']);
var $http = initInjector.get('$http');
$http.post(...)

[2015-10-06 17:14] rc125 opened #142 "It is not working with bootstrap input-groups"
Validation message is breaking bootstrap-input groups.

http://plnkr.co/edit/KFrGbvDNQlZZlN1w3D2t?p=preview

[2015-10-07 01:13] lvarayut commented on #142
You could use `message-id` attribute to solve it. Please take a look at the example in the [API](https://github.com/huei90/angular-validation/blob/master/API.md#use-a-custom-valid-message-).

[2015-10-07 02:14] huei90 commented on #142
Also, you can refer to **Integrating with Twitter Bootstrap section**
https://github.com/huei90/angular-validation#integrating-with-twitter-bootstrap

[2015-10-15 03:10] wikimo opened #144 "how to use validation in tabset"
when tabset, it not work, how to solve it. thanks

[2015-10-15 03:11] lvarayut commented on #144
@wikimo Could you provide some example?

[2015-10-15 03:15] wikimo commented on #144
[code]

i debug the angular-validation.js
in directive 'validationSubmit',

[code]

thanks

@lvarayut

[2015-10-15 03:18] huei90 commented on #144
You should wrap all your `input` `button` in the `<form> ... </form>`

[2015-10-15 03:27] wikimo commented on #144
OK, solve it , thanks for your help,
but when i use it without tabset, may not needed to wrap button in form

@lvarayut

[2015-10-15 03:29] huei90 commented on #144
@wikimo Yes you are right. But angular validation use <form> to detect the subject to do the validation. So everything should be included under <form> object.

Hope this is helpful :smile:

[2015-10-18 14:15] obender commented on #40
+1
Radio very important, Will try to Write my self and pull

[2015-10-18 14:20] huei90 commented on #40
Thanks @obender Need some surprise :+1:

[2015-10-19 03:23] #144 closed

[2015-10-21 04:42] lvarayut commented on #137
This is the list of enhancements:

Priority  | Subject | Assignee
:-------------: | ------------- | -------------
High  | Support checkbox and radio button (#40) | @Nazanin1369
High | Fix multidir error when using with another directive  (#95 and #113) | @lvarayut
Medium | Improve the HTML  documentation: Move API.md and Q&A.md to their own HTML pages,  Organize the documentation to be more beauti

[2015-10-22 02:32] huei90 commented on #113
@Nazanin1369 I would like to see your solution.

[2015-10-23 11:50] mingjunyang opened #146 "required 验证方式遇到value为数字0的时候无法通过验证"
当我的id设置为0 的时候，这个验证通不过。

[code]

[code]

[2015-10-23 13:45] lvarayut commented on #146
@huei90

[2015-10-23 13:49] lvarayut commented on #142
I'm closing the issue. Feel free to ask if you were still facing the problem.

[2015-10-23 13:49] #142 closed

[2015-10-23 16:06] huei90 commented on #146
@mingjunyang You are free to custom the `required` rule in your project :smile:

[2015-10-23 16:24] mingjunyang commented on #146
我自己的项目已经通过自定义验证规则的方式绕过这个坑了嘛， 0 值通不过 `required`验证的确有点吓人。

[2015-10-23 17:00] huei90 commented on #146
![screen shot 2015-10-24 at 1 00 13 am](https://cloud.githubusercontent.com/assets/2560096/10699608/84f1d3a6-79ea-11e5-9e2a-a548ba081904.png)

我沒這個問題耶

目前 validate 是把 int 0 轉換成 string 0,

所以 !!"0" => True

[2015-10-23 17:01] huei90 commented on #146
不過確實，原本使用 !!value 有可能發生這類 falsy 的問題

[2015-10-24 02:46] mingjunyang commented on #146
弱类型的语言，没有强制类型检查，形式上正确但是逻辑上有错误的问题比较容易发生，正好我们就碰上了。

[2015-10-24 03:46] huei90 commented on #146
沒有辦法～未來如果使用 angular2.0 採用 TypeScript 就可以支援強類型了

[2015-10-30 21:05] ali-bugdayci opened #149 "is ng-pattern supported"
Seemlike the pattern can be added to the built in rules

https://github.com/huei90/angular-validation#built-in-validation-in-angular-validation-rule

Since as a param it takes the regex to be applied.

[2015-10-31 05:05] huei90 commented on #149
We don't support ng-pattern, but we can do more rather than ng-pattern.

[2015-11-01 13:47] obender commented on #40
Hi,
I had added a pull request the Checkboxes and radio validation is working good,
I had added a pull request, https://github.com/huei90/angular-validation/pull/150

For now you can see how to use on radio on mine fork

[2015-11-01 13:54] obender commented on #40
[code]

[2015-11-01 13:56] obender commented on #40
Currently working only for radio boxes group, not checkboxes, Will implement checkboxes some day :-)

[2015-11-02 02:02] huei90 commented on #40
Thanks @obender Look forward to see that.

[2015-11-03 03:48] #149 closed

[2015-11-03 03:49] #146 closed

[2015-11-03 03:49] huei90 commented on #137
New issue.
Support ng-repeat in angular-validation version 1.2.x
https://github.com/huei90/angular-validation/issues/139

[2015-11-03 12:18] pyalxx opened #151 "invalid callback invoke problem"
Hello again,

I'm still having problems with invalid callback.

The reason of using this package is to simplify the validation of specific fields, but I try to use custom notification directive to show error. As per documentation I've disabled error and success messages (my full config):

[code]

It still tries to get error message. My html:

[code]
setNotification is a rootScope function which is

[2015-11-04 03:11] huei90 commented on #151
Hi @pyalxx

Thanks for your question.

You are right, we don't really need to define `messageToShow` if doesn't want to show it.

Using `$validationProvider.showErrorMessage = false` only disable display error message,
doesn't remove the invalidCallback.

[2015-11-04 05:42] wikimo opened #152 "how to validate with condition"
if condition true validate. can it to be config, thanks

[2015-11-04 05:51] huei90 commented on #152
you can put your condition in `ng-click`, then execute `angular validation submit`

[2015-11-04 08:45] wikimo commented on #152
but if no ng-click, where to put the  condition, the validateion submit method ?

[2015-11-04 09:42] huei90 commented on #152
Hi @wikimo
within `ng-click`, you can manually trigger validate.
you can see this as example.
https://github.com/huei90/angular-validation/blob/master/demo/demo.js#L112

`validation-submit` is just a directive `angular-validation` provide, it will execute `$validationProvider.validate(form)`, you can find it here
https://github.com/huei90/angular-validation/blob/master/src/submit.directive.js#L20

[2015-11-04 16:57] wikimo commented on #152
Hi, @huei90

Maybe your suggestion isn't i needed.

[code]

want to a directive 'validator-conditon' like that, if username isn't blank, the required need work. if blank,  not work.

The method you provide ,is it means  remove the condition to validation submit.

thanks.

[2015-11-05 02:29] huei90 commented on #152
Have you tried write the directive `validator-condition` ?

[2015-11-05 02:30] #151 closed

[2015-11-06 04:14] wikimo commented on #152
No, wanted function like this, only implement myself. The framework do not
provide?
Huei Tan <notifications@github.com>于2015年11月5日 周四10:29写道：

[2015-11-06 04:31] huei90 commented on #152
Yes, currently angular-validation doesn't have the directive in condition.

@lvarayut  What do you see for this feature? I would like to implement `validation-condition`
It will works perfectly with only in `validation-submit`. (not including in manual validate and reset)

[2015-11-06 08:51] wikimo commented on #152
OK, thanks for your help. @huei90

[2015-11-06 09:28] lvarayut commented on #152
Is it the same as writing a rule?  You could set the `ng-model` as object, then write a new rule to verify it.

[2015-11-06 23:22] wikimo commented on #152
The current ng-model may relate to another to verify, can rule pass paramters. @lvarayut

[2015-11-07 02:49] lvarayut commented on #152
I just got your point! In that case, we need `validator-condition`, or any clear name, as you suggested. It couldn't be hard to implement it. PR's really welcomed.

[2015-11-07 15:59] huei90 commented on #152
Hi @wikimo

First of all, thanks for raising this issue and giving us the opportunity to think about.

As I said before, we can handle this condition check within the `ng-click` as below

[code]

This works perfectly in your case by checking the condition.

And you suggest a feature using a new directive named `validation-condition`, so it will become

[code]

It breaks the rule in `angular-valida

[2015-11-09 07:33] mingjunyang opened #153 "v1.3.2升级到v1.3.3出现不兼容的情况"
原有的表单验证功能是在v1.3.2下写的，bower自动升级到v1.3.3之后出现问题。

[code]
当输入错误之后，再输入正确的值，会出现提示验证提示信息不消失的情况。

[2015-11-09 07:59] huei90 commented on #153
請問這裏的 提示驗證提示訊息 是指錯誤還是成功訊息呢？

另外，`number-error-message` 沒有找到對應的 number 驗證。

可否提供多一些資料呢？因為我看這個 html 是沒有問題的。

[2015-11-09 08:08] mingjunyang commented on #153
晚上我去弄一个在线演示出来。

[2015-11-09 08:43] huei90 commented on #153
好 麻煩你了。

[2015-11-09 09:04] obender commented on #139
Is it resolved in some way ?
or what the exact clue to resolve it , File name, row...?

It's just not working for me and I need it fixed... so I will fix and commit, only adding stuff as you asked :-)

[2015-11-09 10:06] huei90 commented on #139
I have no answer yet, as I said above, this is a change in angularjs1.2 => angularjs1.3

Do you have any idea or suggestion to fix it? @obender

[2015-11-09 12:10] mingjunyang commented on #153
地址在这里 https://github.com/mingjunyang/angular-validation-demo.git  我猜测出现这个问题的原因应该是我使用了自己的 validation.rule

[2015-11-09 15:02] obender commented on #139
Nope , Investigating ... :-)
I am long time into java-script more than 6 years but a bit new with angular so it will take a bit time....

[2015-11-09 16:09] wikimo commented on #152
@huei90  thanks for your help. i've got what you said.

i think the suggestion what @lvarayut  said, may write a rule can solve it, like the rule minlength /  maxlength. give the paramters to the rule can do it.

[2015-11-10 01:53] huei90 commented on #152
:+1: Thanks for giving us a thought of this. :smile:

[2015-11-10 01:53] huei90 commented on #139
sure :beers:

[2015-11-10 02:14] huei90 commented on #153
感謝回報

上次修復的問題造成了這個 bug
https://github.com/huei90/angular-validation/commit/e53469c08a7e6e4ef7c8a60c0e67683bd7dd68ad

不是你 demo 的問題，這是一個 bug。

你先暫時使用 1.3.2 舊的版本，修復後我就會推到 1.3.4 ，屆時再通知你。

謝謝你！

[2015-11-10 02:22] huei90 commented on #153
`no-validation-message` conflict with
`$validationProvider.showErrorMessage`
`validationProvider.showSuccessMessage`

[2015-11-10 05:24] wikimo commented on #152
the last question, how can i get the $scope in rule method, want the rule get the var in $scope, that i can deal with the condition. @huei90

[2015-11-10 05:45] huei90 commented on #152
Hi @wikimo I don't suggest you to use `$scope` in rule,

because the rule is for global used, and if you use $scope, that's mean you need to define them before using.

Therefore, using a `attrs` to do the condition check is enough for global.

[2015-11-10 05:45] lvarayut commented on #152
@huei90 Sorry for late reply. I totally agree with your solution. That's what I was thinking at the first time and suggested to write a rule instead of creating the new directive.

[2015-11-10 05:45] huei90 commented on #152
Thanks @lvarayut :beers:

[2015-11-11 09:48] huei90 commented on #137
Refactor new documentation. It is not easy to read now.

[2015-11-13 05:36] chenli1989 commented on #139
Many thanks

[2015-11-13 15:50] kmckee commented on #137
Has anyone tried using this library with 1.4?

We are looking to migrate next week.  I was just about to pull this library in to our app, but I don't want to if it will be broken when we move to 1.4.

[2015-11-13 16:22] huei90 commented on #137
Hi @kmckee Thanks for dropping us a message.

Unfortunately, the test result running on angular 1.4 in current validation version is fail.

We are still trying hard to move the support version to the latest one. Please stay tuned.

@lvarayut @Nazanin1369 seems we have lot of works to do now :beers:

[2015-11-13 16:39] kmckee commented on #137
Thanks for the quick reply @huei90.  I might peek under the covers if I get some time and see if I can help out.  Very cool library, it cleaned up a lot of boring boiler plate code from our codebase.

[2015-11-14 11:52] huei90 commented on #137
Yes, this is the main purpose why I'm building angular-validation :+1:

[2015-11-17 15:09] donnygunawan opened #155 "How to submit on press enter?"
on example i see submit on button click event, how to submit with just press enter button?

[2015-11-18 03:04] huei90 commented on #155
In the example, I am able to `enter` to trigger submit button.

[2015-11-18 03:05] #152 closed

[2015-11-18 03:07] #103 closed

[2015-11-23 03:05] boiawang commented on #125
@tshi0912 is right. I have the same issue.

[2015-11-23 03:32] huei90 commented on #125
Hi @boiawang Do you mind showing us your case, i need more use case to define the spec of using this feature.

[2015-11-23 03:41] boiawang commented on #125
举个栗子： 修改密码，服务端返回原密码错误，然后我想把错误显示在密码框下面，这种用setExpression是不能实现的

[2015-11-23 03:45] huei90 commented on #125
我在想的是，因為其實這也是 validate 的功能，只是不要把錯誤訊息顯示出來。是不是有什麼比較好的方式可以達到同樣效果。

[2015-11-23 03:46] tshi0912 commented on #125
@huiei90 yeah!

[2015-11-23 04:30] huei90 commented on #125
@boiawang 請問你的例子中，為何 “错误显示在密码框下面” 不行呢？

[2015-11-24 02:47] sujoysett commented on #24
thanks. spent a lot of time searching for this solution.

[2015-11-24 04:00] huei90 commented on #24
:+1: @sujoysett

[2015-11-24 06:28] Jeevanandanj opened #156 "Include icon for input"
Can we include tick icon (or any other icon) if user give proper information on input?

[2015-11-24 06:34] huei90 commented on #156
Refer to here.
https://github.com/huei90/angular-validation/blob/master/API.md#custom-the-validinvalid-message-style-html-in-config-

[2015-11-24 06:38] Jeevanandanj commented on #156
Sorry for not to read api doc properly. Thanks for the nice plugin between top most 5.

I had another issue is that, When I click the plugin is showing the proper error message. I've hidden the success message.

But after hide the success message, error message is still showing for the proper input.

Do I missed anything to configure?

[2015-11-24 06:46] #155 closed

[2015-11-24 06:47] huei90 commented on #156
This is same problem as
https://github.com/huei90/angular-validation/issues/153

I will try to fix it later, but I still need some time to define those features.

[2015-11-24 06:48] huei90 commented on #156
What do you mean **highlight** the input.

[2015-11-24 06:55] huei90 commented on #156
If you are using **bootstrap**

refer to here for the highlight input.
https://github.com/huei90/angular-validation#integrating-with-twitter-bootstrap

[2015-11-24 07:26] Jeevanandanj commented on #156
Thanks.

[2015-11-24 12:56] Jeevanandanj opened #157 "Remove success message"
Error message is showing even after proper input (after hide success message.)

[2015-11-24 16:41] huei90 commented on #157
same problem of my reply here
https://github.com/huei90/angular-validation/issues/156

[2015-11-24 16:42] #157 closed

[2015-11-24 16:47] Jeevanandanj commented on #157
Finally I did workaround for this. I've added empty span to the success message like following.

required-success-message="&lt;span&gt;&lt;&#47;span&gt;".

This is working.

[2015-11-24 16:53] huei90 commented on #157
Ok, good to see this works. But I should fix the bug.

[2015-11-24 16:57] Jeevanandanj opened #158 "Validate one control at a time"
I want to validate one control at a time. After giving proper input, the validation should go to next. Can we do this one?

[2015-11-24 17:32] huei90 commented on #158
yes, you can validate one, or multiple using array, and even whole form.

[code]

[2015-11-24 17:34] Jeevanandanj commented on #158
Oh great. superb. How do I use call back which we use in html attribute?

[2015-11-24 17:35] huei90 commented on #158
Do you mean `validation-submit` ?

you can try

[code]

[2015-11-24 17:36] #156 closed

[2015-11-24 17:38] Jeevanandanj commented on #158
No I am asking about invalid-callback.

[2015-11-24 17:39] Jeevanandanj commented on #158
I can't inject $validationProvider in controller. I am getting issue :-(

[2015-11-24 17:40] huei90 commented on #158
You can assign your callback for specified input element.
https://github.com/huei90/angular-validation/blob/master/API.md#add-valid-callback-function-invalid-callback--valid-callback

[2015-11-24 17:41] huei90 commented on #158
No, you can use it, Try more =)

[2015-11-24 17:44] Jeevanandanj commented on #158
Error: [$injector:unpr] Unknown provider: $validationProviderProvider <- $validationProvider <- signUpController

I am getting this error.

[2015-11-24 17:45] huei90 commented on #158
you can find the demo code here.
https://github.com/huei90/angular-validation/blob/master/demo/demo.js#L93

[2015-11-24 17:45] Jeevanandanj commented on #158
signUpModule.registerController('signUpController', ['$scope','$validationProvider',function ($scope, $validationProvider) {
}]);

I have tried like above and got the issue. Am I doing in the correct way?

[2015-11-24 17:46] huei90 commented on #158
No.

signUpModule.registerController('signUpController', ['$scope','$validationProvider',function ($scope, $validation) {
}]);

remove the provider.

[2015-11-24 18:09] Jeevanandanj commented on #158
Thanks. I can get the validation provider using var $validationProvider = $injector.get('$validation');

But after that I did like $validationProvider.validate(form.CompanyName).success(function (data) {
}).error(function (data) { });

In error I can show the error message for company name itself. If I have 10 inputs, then I need to do 10 if conditions to check.

Is there any shortcuts with one or

[2015-11-24 18:10] huei90 commented on #158
no.

you are validating one by one, so there is no shortcut. unless you validate all in once.

[2015-11-24 18:14] Jeevanandanj commented on #158
can you made any new feature to set one by one validation in html itself like success message on or off? there is one by one validation in angular itself. User may leave because of this. Can you please do it for us?

[2015-11-25 04:45] Jeevanandanj opened #159 "Some time focusing is not set in the first invalid input"
When I give the invalid input, the focusing is set to some other field. It's not focusing to the first invalid input.

[2015-11-26 01:39] huei90 commented on #158
@Jeevanandanj Can you show me how do you do one by one using angular  itself?

[2015-11-26 01:40] huei90 commented on #159
@Jeevanandanj May I know which browser do you use?

I have no problem on this.

[2015-11-26 08:43] huei90 commented on #153
@mingjunyang Fix on last commit.
Please try again.

[2015-11-26 08:44] huei90 commented on #139
I'm not focus on this fix now. Sorry for the inconvenient.

[2015-11-26 08:45] huei90 commented on #113
I'm not focus on this fix now, need contribution.

[2015-11-26 08:47] huei90 commented on #95
I'm not focus on this fix now. Need help from you.

[2015-11-26 09:56] mingjunyang commented on #153
@huei90 try  it weekend

[2015-11-26 09:58] huei90 commented on #153
Thanks @mingjunyang

[2015-11-27 03:58] #158 closed

[2015-11-27 03:58] huei90 commented on #159
Open it if you have the issue.

[2015-11-27 03:58] #159 closed

[2015-11-27 03:58] #153 closed

[2015-11-27 04:55] jokeewu opened #160 "how to validate async?"

[2015-11-27 05:45] huei90 commented on #160
Possibly duplicate.
https://github.com/huei90/angular-validation/issues/2

[2015-11-30 02:06] #160 closed

[2015-12-02 20:20] edriang commented on #137
I have the following questions in order to decide to use or not this great module:
- Wich are the problems with Angular 1.4?
- It is possible to integrate i18n messages with angular-translate module?

Thanks in advance

[2015-12-03 01:52] huei90 commented on #137
Hi @edriang
First, we are not yet fully support angular 1.4
Secondly, for the i18n, see if this works to you and I can help you on that.
https://github.com/huei90/angular-validation/issues/96

[2015-12-04 03:14] FuGardenia commented on #113
@Nazanin1369 @huei90  Hi, is the bug solved ?

[2015-12-04 03:44] huei90 commented on #113
We will fix it within few days. Stay tuned @FuGardenia

[2015-12-04 06:25] #113 closed

[2015-12-04 13:59] eenewbsauce opened #163 "Add index.js or main to package.json so require('angular-validation') will work properly"

[2015-12-05 22:10] Nazanin1369 commented on #113
Yes, I believe it merged to master,

[2015-12-06 05:25] Nazanin1369 commented on #95
I believe this fix has merged. @huei90 ?

[2015-12-07 02:17] huei90 commented on #95
I believe too.

[2015-12-07 02:19] huei90 commented on #163
@eenewbsauce Do you mean adding this?

https://github.com/npm/npm/blob/master/package.json#L30

[2015-12-07 02:33] Nazanin1369 opened #164 "Improve the HTML documentation"
Part1: Organize the documentation to be more beautiful add bootstrap and ui-select examples
Part2: Move API.md and Q&A.md to their own HTML pages

[2015-12-07 02:41] #95 closed

[2015-12-07 23:51] vafrcor opened #166 "Unknown $validationProvider"
Tested on:
* Angular 1.3.20
* Angular Validation 1.3.3

Case >> while tried to implement new custom validation on main module config()

[code]

[2015-12-09 15:36] lvarayut commented on #166
Can you show me your code used to load the `validation.min.js`? It seems like you didn't load it properly.

[2015-12-10 06:53] huei90 commented on #166
[code]

Try this.

[2015-12-11 08:33] huei90 commented on #164
DONE.

[2015-12-11 08:34] #164 closed

[2015-12-11 11:43] rozehan opened #167 "validation.rule undefined problem"
Hi,
When I added the pack on my AngularJs project, getting this error every time:

'validation.rule' is not available!

I tried to add this file pack's bower.json but not working. How can I solve it?
Thanks.

[2015-12-11 12:51] huei90 commented on #167
Try include angular-validation-rule.js

[2015-12-14 06:43] #166 closed

[2015-12-14 06:44] huei90 commented on #167
Works?

[2015-12-14 06:49] huei90 opened #169 "Remove Grunt support, change to npm run."
What do you see. @Nazanin1369 @lvarayut

[2015-12-14 09:04] huei90 commented on #137
OMG.. angular 1.5 is coming. :fire:

[2015-12-14 09:31] Nazanin1369 commented on #169
Totally agree. I can go ahead and change that...
On Dec 13, 2015 10:49 PM, "Huei Tan" <notifications@github.com> wrote:

[2015-12-14 09:33] huei90 commented on #169
Thank you @Nazanin1369 We can have the discussions here.

[2015-12-14 09:48] lvarayut commented on #169
@huei90, if we deleted it, would it be still possible to do `liverealod`, `concat`, 'combine`, `test`, and etc?

[2015-12-14 09:55] huei90 commented on #169
@lvarayut I have never tried this before, but npm is possible to do the tasks.

read

http://blog.keithcirkel.co.uk/how-to-use-npm-as-a-build-tool/

[2015-12-14 10:06] lvarayut commented on #169
The only disadvantage is that we can't put any comments inside JSON file; `package.json`. If the project was getting bigger, it would be more difficult to manage the file.

[2015-12-14 10:17] huei90 commented on #169
yes, this is the cons, using grunt or gulp are the easier tools to use.

using npm will looks like this

[code]

[2015-12-14 17:14] Nazanin1369 commented on #169
I think one thing to consider is the flexibility of the tasks which I think using "Gulp" is the best.
Gulp pipes makes writing the tasks more readable and easier.

I am not agree with Grunt at all.

What do u think about Gulp?

https://ponyfoo.com/articles/choose-grunt-gulp-or-npm

[2015-12-14 17:31] lucax88x opened #170 "Migration to Typescript"
please add enhancement label

[2015-12-15 01:43] lvarayut commented on #169
I prefer gulp more than other. It's much faster than grunt and more
flexible than package.json.

On Tuesday, December 15, 2015, Nazanin Delam <notifications@github.com>
wrote:

[2015-12-15 01:52] Nazanin1369 commented on #169
Yes! Agree, then let's move toward gulp is Huei agree too.
On Dec 14, 2015 5:43 PM, "Varayut Lerdkanlayanawat" <
notifications@github.com> wrote:

[2015-12-15 02:34] huei90 commented on #170
Hi @lucax88x Thanks for your enhancement suggestions.

We have a board that in our list.
https://github.com/huei90/angular-validation/issues/137

I'm prefer ES6 rather than TypeScript.

[2015-12-15 02:47] huei90 commented on #169
`grunt` or `gulp` look same to me, we are not a big project so the speed is not the matter.

In this topic, I am considering about `npm` for the management, less code in the project.

now, Ii see the benefit from `npm run`

OR, we can continue to focus on the feature development. we have a great improvement recently, thanks to @Nazanin1369 isolate scope feature, @lvarayut validation-group feature,

[2015-12-15 04:52] Nazanin1369 commented on #170
I agree with ES6 more also specifically for this project.
On Dec 14, 2015 6:34 PM, "Huei Tan" <notifications@github.com> wrote:

[2015-12-15 04:53] Nazanin1369 commented on #169
I think this is a low priority enhancement. We can make it unless there is
no reported issue or higher priority enhancement ticket available.
On Dec 14, 2015 6:47 PM, "Huei Tan" <notifications@github.com> wrote:

[2015-12-15 06:02] huei90 commented on #169
I have added this as the low priority.
https://github.com/huei90/angular-validation/issues/137#issuecomment-149781699

Let me close it first, open it when the day we start doing this.

[2015-12-15 06:02] #169 closed

[2015-12-15 12:05] lucax88x commented on #170
why ES6 instead of Typescript?

while writing tests or enhancement on library I was so terribly missing the intellisense of Karma & Angular.

Once you're in Typescript, you won't get out easily, and Google it's taking this as standard.

Typescript would also keep backwards compatbility, where ES6 would fail.

[2015-12-15 18:14] SamiTriki commented on #163
I think that's what he means, and +1

[2015-12-16 02:31] huei90 commented on #170
I'm not interested in developing angular-validation in any compiler style of JavaScript but contributions are **definitely welcome**.

This is the library for angular, unless angular is seriously focus on compiler style JavaScript (angular2 is not in our scope right now), I will choose to do it in pure javascript and enhance the feature of angular-validation.

I love to accept angular-validation i

[2015-12-16 03:20] huei90 commented on #163
But I'm not sure which case

we will use

[code]

but I can do that, no bad effect to the repo.

[2015-12-16 05:50] Nazanin1369 commented on #170
Agree with @huei90

[2015-12-16 11:43] SamiTriki commented on #163
Personally, I use browserify on my client app so I just require it this way, I currently have to use it this way
[code]
I think having the right file in the main is more intuitive for people using npm, thanks !

[2015-12-17 03:03] huei90 commented on #163
DONE @SamiTriki See if this works for you

[2015-12-17 03:07] huei90 opened #173 "Specification for callback"
As we define in the comment https://github.com/huei90/angular-validation/pull/172#issuecomment-164979271

We have validCallback, invalidCallback, resetCallback (maybe others)

we should define the spec for all of these,

1. Global or each input used?
1. Are these existing conflict with each other?
1. The example on using it.

[2015-12-17 03:54] huei90 commented on #137
@kmckee Sorry for the late replied. v1.4.x is now ready! :boom:

you can use it now. remember change the branch to v1.4.x

[2015-12-17 04:00] Nazanin1369 commented on #137
Congrats! Tests passed with Angular1.4.x.
Change confirmed. closing this issue.

@lvarayut Can you move the enhancement list out of this issue?

[2015-12-17 04:00] #137 closed

[2015-12-17 04:04] huei90 commented on #137
:beers:

[2015-12-17 05:55] hueitan opened #174 "Ticket and Enhancement"
This is the list of enhancements:

| Priority | Subject | Assignee | Progress |
| :-: | --- | --- | --- |
| High | Update API Documentation | @huei90 |  |
| Medium | Support i18n | @nazanin1369 | Using `$compile` |
| Medium | Prepare for upcoming AngularJs 2.0 |  | Pending ... |
| Medium | Coverage 100% | @huei90 | Working on. |
| Medium | Update readme - why angular-validation | @huei90 | Working

[2015-12-17 05:56] huei90 commented on #137
I have change the title to **Ticket and Enhancement**
https://github.com/huei90/angular-validation/issues/174

[2015-12-17 11:46] SamiTriki commented on #163
Perfect, and thanks for the library

[2015-12-17 15:02] huei90 commented on #163
You're welcome

[2015-12-17 15:02] #163 closed

[2015-12-17 15:03] #167 closed

[2015-12-20 01:30] Nazanin1369 opened #176 "Angular i18n support"

[2015-12-22 14:49] huei90 commented on #176
Cool, this perfectly integrating angular-translate to our project.
Since this effect demo page only, do you want to move `resource` folder to `demo`?

[2015-12-22 17:05] Nazanin1369 commented on #176
Sure I will do that.
On Dec 22, 2015 6:49 AM, "Huei Tan" <notifications@github.com> wrote:

[2015-12-22 19:11] Nazanin1369 commented on #176
@huei90 Need some help with Chinese language. Need someone to fill the json file later on

[2015-12-23 00:24] Nazanin1369 commented on #176
@huei90 Done with i18n. Please double check the Chinese translations

[2015-12-23 02:21] huei90 commented on #176
Oh! I think I miss understand your commit.

Your change is for the demo page, i thought it was translation for the angular-validation output message

But anyway, we can provide more language to the user.

[2015-12-23 02:57] huei90 commented on #173
I have just submitted the test spec for

1. validCallback
1. invalidCallback
1. resetCallback

These are for each used, for globally used, I suggest writing that by own in the controller code.

[2015-12-24 09:42] huei90 commented on #40
We are working on this now and will be fixed it very soon.

[2015-12-26 23:23] Nazanin1369 commented on #96
@jamhall You do not need to compile the HTML for translation, you can call it programmatically. Just put up a commit for this.
After merge you are able to setup translation as following:
   '<p class="validation-valid">' + this.$injector.get('$translate').instant(msg) + '</p>';

for using filters you can inject the $filter and use any filter you like as:
  var $filter = this.$injector.get('$filter

[2015-12-27 14:10] huei90 commented on #170
list in **Ticket and Enhancement #174**

[2015-12-27 14:10] #170 closed

[2015-12-27 14:12] huei90 commented on #173
list in **Ticket and Enhancement #174**

[2015-12-27 14:12] #173 closed

[2015-12-27 14:21] #40 closed

[2015-12-27 14:28] huei90 commented on #174
I have just added one High Priority in **Update API Documentation**

Currently documentation.md is not very clear, we are difficult to find out what we need, this situation same to new user.

I wish we can have a navigation/achor_link so that people can easily find the solution.

[2015-12-27 14:32] huei90 commented on #96
@Nazanin1369 nice fix.
Would you mind read this PR?
https://github.com/huei90/angular-validation/issues/96

[2015-12-28 02:52] huei90 commented on #40
Sorry guys for the late late late super late reply.

Checkbox valdiation is now ready :+1:

[2015-12-29 06:34] huei90 opened #178 "How should we support $injector and $http"
### Situational

1. Allow compilation for the output html in i18n case https://github.com/huei90/angular-validation/issues/96
1. Support i18n - $translate.instant - angular-translate https://github.com/huei90/angular-validation/pull/177
1. Able to use $http in the setExpression case / Backend Validation

### $http/Backend Validation

Although we can easily setup [setExpression](https://github.com/

[2015-12-29 11:48] jamhall commented on #96
@Nazanin1369  - I feel that `{{ msg | translate }}` is a *lot* cleaner than `this.$injector.get('$translate').instant(msg)`

I don't like to put code like that into my template strings.

I honestly don't see what the problem is, and why this is being over-complicated, the solution that I have offered is clean and is only a couple of lines of code.  I should be able to do what I want in a validatio

[2015-12-29 12:13] huei90 commented on #96
Hi @jamhall

Sorry for nudging you back to this topic and I also want to apologize to you that your suggestion is not that bad.

[code]

Totally Agree.

[code]

Usually in angularjs, we want to do a lot of compilation, even though the directive itself, so the compilation for the output html template is needed.

[code]

Yes, we haven't merged this commit yet because we have some concern, here's the

[2015-12-29 12:19] jamhall commented on #96
@huei90 - thanks for your prompt reply

I still don't understand why this needs to be continually discussed. What's the problem? It's a simple and transparent change. It doesn't break anything.  It doesn't change anything for existing users and it adds needed functionality. Why discuss this further?

[2015-12-29 12:32] huei90 commented on #96
@jamhall You are right, this change doesn't break anything and I also hope this can be merged soon.

[code]

Sorry again @jamhall, we take every commits/issues seriously so that I can't make an immediate decision by my own.

There are something we should do before merging

1. Documentation for the compilation for html template
1. Making some test cases (if you see the latest commit, we have covera

[2015-12-29 12:35] jamhall commented on #96
@huei90  - Ok, excellent. thank you for clearing that up. I look forward to seeing the changes in the near future.  :beers:

[2015-12-29 12:35] huei90 commented on #96
You will see this soon.

You have my word :smile:

[2015-12-30 01:51] Nazanin1369 commented on #96
@jamhall You are compiling againts the $rootScope which triggers a digest cycle on clients app from the root to last child scope which is a performance hit.

[2015-12-31 07:19] PachowStudios opened #181 "Add support for dynamic error messages based on attributes"
Instead of the default error and success messages only being defined statically, setDefaultMsg should allow the error messages to be functions that accept the same parameters that a validation expression does.

For example, you should be able to do this:

[code]

Instead, you have to use this workaround:

[code]

This has the downside though of not showing the error message if the first value ente

[2015-12-31 08:46] huei90 commented on #181
good idea, I will take a look of this feature. Thanks :+1:

[2015-12-31 09:23] hungdoan2 commented on #181
Actually, all function relate to `error message` must receive full parameter: element, attrs. It will help us alot.

This morning, I meet a requirement like your.
I'm going design the API like this `(Implement 1)`:
[code]
But my project require to add `attrs.alt` to ErrorMsg in every validator.Finally, to save my time I decided to do like this`(Implement 2)`:
[code]

I think both `(Implement 1)` o

[2015-12-31 09:38] hungdoan2 opened #182 "Add features to custom Message Element"
**STORY**
I have requirement like this(not place msg element after input):
[code]
**Existence solution**: Use `message-id`
`But` : I don't want to define Msg Element by myself . I want it automatically.

**New solution**
Define 2 news function:
`$validationProvider.addMsgElement`  : Response for adding Msg Element
and
`$validationProvider.getMsgElement` : Respone for getting Msg Element

Here is m

[2015-12-31 12:27] huei90 commented on #96
@Nazanin1369 I'm going to merge this feature `compile` since we have no better solution to do this.
We can have more discussion in the future until we got a cleaner and low-cost implementation for the client app.

[2015-12-31 12:28] huei90 commented on #181
Thanks @hungdoan2 for your Implement1 or 2 suggestions. Both are alright.

[2015-12-31 12:30] huei90 commented on #182
This is cool @hungdoan2 Without this we need to apply a lot of `message-id`, since we can have the global settings for the format.

Thanks @hungdoan2 I will merge your commit :smile:

[2016-01-04 02:47] huei90 commented on #96
New pr created here.
https://github.com/huei90/angular-validation/pull/184

[2016-01-04 04:11] #96 closed

[2016-01-04 07:11] huei90 commented on #96
@jamhall

[2016-01-04 08:03] lvarayut commented on #178
This is very good explanation and conclusion. Love it :+1:

[2016-01-04 09:02] lvarayut commented on #182
Love the idea :)

[2016-01-04 12:29] huei90 commented on #182
@lvarayut Me too, using a lot of `message-id` is kind of tragedy.

[2016-01-05 01:49] huei90 commented on #182
Update on here.
https://github.com/huei90/angular-validation/pull/183

[2016-01-05 01:49] #182 closed

[2016-01-06 09:22] enesaltinok opened #185 "reset method"
Hi,

Calling reset(form) method clears form field values.
But I need the keep values.
Is there any way keeping the values and clearing the error messages?

[2016-01-06 09:45] huei90 commented on #185
@enesaltinok Thanks for raising up this question.

In general,

After the reset, we should keep the orignal values, if default value is not given, make the field empty.

But in the case, input with the attribute `value="something"`, the reset method doesn't keep the original values.

[2016-01-06 09:46] huei90 commented on #185
@Nazanin1369 @lvarayut see this.

[2016-01-11 04:21] hungdoan2 commented on #185
1. Current `validation-reset` must be named `validation-clear` because we clear the form to reset(restore to the original value).
2. In my opinion, do not touch `value` input. Because It's already handled by AngularJs, just leave it alone.

Even if We can handle `input` attribute. It's almost impossible go get origin data when `value` attr and `ng-model` point to the same instance! . Because every

[2016-01-11 04:32] huei90 commented on #185
I can't agree with you more.

But I prefer to stick with the `reset` not `clear` although we have the different behavior to the native Form.

Because people use reset more than clear in the Form term. In this situation, using AngularJS already breaks the original Form native behaviour, so we can't or hardly to make it back to the normal case.

I suggest, we should think more about, what is `reset`

[2016-01-11 06:05] hungdoan2 commented on #185
I prefer reset because It has the same behavior as native form (https://www.w3.org/wiki/HTML/Elements/input/reset)
But I agree to stick with the reset because It will break current API if we change `reset` to `clear`.

I think the API would be :
[code]

We have to catch `username` value before it changed by user.
=> Define a watch on `o-value`
[code]
Then, We just use `inputElement.defaultValue `

[2016-01-11 06:17] huei90 commented on #185
@hungdoan2 This is a good idea :beers:
what about the attribute name be `original-value`?

[2016-01-14 04:22] knonginda opened #186 "Radio Group加上validator="required"后只会对最后一个Radio生效，这个怎么fix啊？"
以下是我的测试代码，确实只有test2的radio会校验，我看了你的demo，只有一个radio button的example，所以我不知道是不是它不支持多个radio button。

    <div class="form-group">
        <input validator="required" type="radio" ng-model="test" name="test" value="Y" id="test1">
        <label for="test1">Test One</label>
    </div>
    <div class="form-group">
        <input validator="required" type="radio" ng-model="test" name="test" value="N" id="tes

[2016-01-14 05:12] huei90 commented on #186
Try using `validation-group`
https://github.com/huei90/angular-validation/blob/master/Q%26A.md#can-i-validate-multiple-checkbox

[2016-01-14 05:36] knonginda commented on #186
validation-group 我试过了，它好像只支持不同model和不同name的，但是我的radio必须是同一个model。

[2016-01-14 06:09] huei90 commented on #186
这里所有的验证都支持不同model不同name。

在你这个范例中，ng-model都使用同一個，所以兩個input都會是同樣的值

请问你是在什么情况下需要这样的表格？

[2016-01-14 06:20] knonginda commented on #186
我遇到这样一种情况，就是如果我提交form，那么以下两个radio只有最后一个radio会触发ng-invalid，而不是所有的radio都触发ng-invaild，因为我需要这个class来渲染radio的样式不，知道可以不可以。
<div class="form-group">
    <input validator="required" type="radio" ng-model="test" name="test" value="Y" id="test1" class="ng-pristine ng-untouched ng-pending">
    <label for="test1">Test One</label>
</div>
<div class="form-group">
    <input validator="required" type="radio" ng

[2016-01-14 06:23] huei90 commented on #186
那么我建议你拆成两个 model
然后让其中一个 model watch 另一个 model 改变他的值
这样就能达到你的目的

angular-validation 是针对提供的 model name 来做验证，在你的情况下只好稍微做个变形。

[2016-01-14 06:29] knonginda commented on #186
好的，非常感谢！！！

[2016-01-14 06:35] huei90 commented on #186
:beers:

[2016-01-14 07:45] hungdoan2 commented on #185
It's a good one.
I often use "o-" prefix(stand for `option`) to define that: "this is an data attribute, not a directive".
So, with me both `original-value` and `o-value` is fine.

[2016-01-15 02:53] #186 closed

[2016-01-15 20:47] inchcrest commented on #125
I know this is an old question, but I was wondering if there was any update to this. In our use case we are implementing a feature to sign up for our site. We have a email text box, and after pressing the submit button we check on the server side if the email already exists. If it does exist we need to return a message that says 'Email already in use'. This message ideally would appear under the e

[2016-01-23 21:05] shlomogoldstein opened #187 "Unknown provider: $validationProvider"
Include them:

[code]

Require them:

[code]

[code]

When I remove  validation.rule, it works. What is the problem?

[code]

[2016-01-25 02:29] huei90 commented on #187
May I see your source code?

[2016-01-25 08:32] shlomogoldstein commented on #187
I installed via bower as I always do, required them above like all my modules. There is not much to show more. Which code do you mean?

[2016-01-25 08:34] huei90 commented on #187
Try this, see if this works

[code]

[2016-01-26 07:48] huei90 commented on #187
Close, open if needed.

[2016-01-26 07:48] #187 closed

[2016-01-27 09:50] knulan opened #189 "valid-callback & invalid-callback not working on angular-validation 1.4"
After update to latest angular 1.4 (1.4.9) from 1.3.x , valid-callback & invalid-callback functions stop working

[2016-01-27 10:08] huei90 commented on #189
The test shows it correctly
https://github.com/huei90/angular-validation/blob/master/test/unit/callbackSpec.js

Also the demo page with invalid-callback works.

[2016-01-29 13:25] duyongxin commented on #189
<label>Required (Invalid Callback alert)</label>
<input type="text" name="requiredCallback" ng-model="form.requiredCallback" validator="required" invalid-callback='error("Must be Required");'/>

with this code  "invalid-callback" and "valid-callback" seems to be ignored.

[2016-01-29 13:56] duyongxin commented on #189
invalid-callback & valid-callback  not work as they are provided by attribute

[2016-01-30 03:55] huei90 commented on #189
@knulan @duyongxin Thanks for your report, I have found the error one, the valid/invalid-callback in attrs doesn't trigger.

[2016-02-02 08:36] huei90 commented on #189
Looks like the default valid/invalid-callback is missing start from one version, need more time to fix it.

[2016-02-10 21:49] joseluisq opened #190 ""success-message" property should be optional"
When I define `error-message` only It appears `success-message`: _"It's Required"_.

[code]

I think `success-message` message should be hidden by default.

_Note: Temporally this is soved via CSS:_

[code]

[2016-02-11 17:59] joseluisq opened #191 "Improve documentation page with more detailed examples"
I saw your [Examples](http://huei90.github.io/angular-validation/#examples) section in your page and I think you could to improve.

So here some suggested examples:
- [ ]  Validation examples with multiple forms.
- [ ]  Validation examples for groups of select controls. For example for a birthday field with three selects inline.
- [ ]  Example for hide "valid" message by default. [Now valid messag

[2016-02-11 21:48] joseluisq commented on #190
Solved !
https://github.com/huei90/angular-validation/blob/master/API.md#disableenable-show-successerror-message

[2016-02-11 21:48] #190 closed

[2016-02-17 03:44] huei90 commented on #191
Thanks @joseluisq Currently I'm working on redesign the API documentation and I will include your suggestions into it.

Thanks again :+1:

[2016-02-17 04:47] joseluisq commented on #191
Fantastic !
I will wait for this :+1:

[2016-02-17 07:28] huei90 commented on #191
If you have any other comments, please let me know :smile:

[2016-02-21 17:33] j-langlois opened #192 "valid-method="submit" acts like a watch after submit"
It seems the attribute valid-method="submit" turns to a watch after a form has been validated. The valid and invalid callbacks will be called on every input change. This behavior is great when the validation fails, since it helps the user in his entry of a proper input, in opposition to valid-method="submit-only". However, when the validation succeeds, is it possible to get back to the initial sta

[2016-02-25 19:27] rc125 opened #193 "Not required fields treated as required"
I have two fields, one is required and the other not, but when I submit the two are treated as required

Example: https://plnkr.co/edit/mNBrXBvKwmdHvzuJZ6ZD?p=preview

[2016-02-25 23:49] Nazanin1369 commented on #193
Your Plunker does not have anything in the body rathe than:
 "<body ng-controller="MainCtrl">
    <h1>Hello Plunker!</h1>
</body>"

[2016-02-25 23:57] Nazanin1369 commented on #193
This is because the regex for Url does not accept empty string . You can edit your validation rule regex to accept empty string too

[2016-02-26 02:48] huei90 commented on #192
doesn't `submit-only` work to you?

[2016-02-26 03:41] j-langlois commented on #192
Thanks for the response. Yes submit-only works for me, but it doesnt have the wonderful behavior of helping the user fix its input upon typing after the validation fails.

Say you have an optional field of VAT number, I noticed the following drawbacks for every method:

using valid-method="submit".
1. VAT number: <no input>
2. User clicks submit
3. The form gets validated successfully since empty

[2016-02-28 07:27] huei90 commented on #192
For the first scenario, I would suggest using success callback to clear the classes, this is not the submit or submit-only usage purpose

Second, using submit type is fine.

[2016-02-28 07:29] huei90 commented on #193
Open if any other issues.

[2016-02-28 07:29] #193 closed

[2016-02-29 15:48] rickerd opened #194 "Enhancement for validators"
Validation contribution:

- [ ] Alphabetical validator
- [ ] No special characters

[2016-02-29 15:54] rickerd opened #195 "Valid message disabled by default"
I want to know if people agree with me if the valid message should be disabled by default and if you want to show it you have to set it like you do now if you want to disable it.

I don't want to put it to all my elements that i don't want to valid validate because i never want to show a valid message.

[2016-02-29 15:59] lvarayut commented on #194
You could also write your own validators. Take a look at [Setup a new Validation in API.md](https://github.com/huei90/angular-validation/blob/master/API.md#setup-a-new-validation-setexpression-setdefaultmsg-with-regexp-or-function-in-config-phase).

[2016-02-29 16:02] rickerd commented on #194
I know, i'm working on these validators now.
But the second question if a file or something could be extended was my insecure question.

[2016-02-29 16:08] rickerd commented on #195
Found it in the documentation.

`.config(['$validationProvider', function ($validationProvider) {
    $validationProvider.showSuccessMessage = false; // or true(default)
    $validationProvider.showErrorMessage = true;
}])`

[2016-02-29 16:08] #195 closed

[2016-02-29 16:08] lvarayut commented on #194
I'm not quite sure what you meant. Can you provide some example?

[2016-02-29 16:10] rickerd commented on #194
Im sorry, i dind't read the validation API completely.
My "question" is more a roadmap now what i;'m going to contribute.

The code is super clean, really nice coded.

[2016-02-29 16:13] lvarayut commented on #194
Perfect. We're look forward to merging your PRs. :smile: . Is it safe to close this issue right now?

[2016-03-01 02:58] huei90 commented on #195
YES :smile:

[2016-03-01 03:01] huei90 commented on #194
The rule is just the showcase/example, not recommended for the real case use.

[2016-03-01 13:57] sachinlogiciel opened #196 "Float Number generate error with use of number validation"
I want to apply an number validation on input field but value can be float or double but when we enter float number it generate an validation error. Any idea how to solve this?

[2016-03-02 03:14] huei90 commented on #196
It depends on the validation rule you given. Please try to customize your rule to adopt float input.

[2016-03-02 05:03] sachinlogiciel commented on #196
Thanks

[2016-03-02 05:03] #196 closed

[2016-03-02 06:39] huei90 commented on #196
yw

[2016-03-28 20:41] huei90 commented on #194
Closed.

[2016-03-28 20:41] #194 closed

[2016-04-02 11:06] bossbyte commented on #152
Check this rule:

`
                                /**
                                 * use example
                                 * validator="conditionRequired" validator-condition-form="clientForm" validator-condition="or" validator-condition-fields='["sname","email"]'
                                 *
                                 */
                                conditionRequired:

[2016-04-04 07:12] #192 closed

[2016-04-05 22:39] daituzhang opened #199 "show multiple validation rule error messages"
Hi,
Thank you for the awesome library!
I'm setting up multiple validation rules for password:
ex:
Lowercase character
Uppercase character
Digit
Symbol

and I have wrote custom regex and defaultMsg for each rule.
What I am expecting is that all rule error messages will be shown up if not met,
and if the rule is fulfilled, that rule error message will disappear.
However right now, there's only one e

[2016-04-07 07:28] huei90 commented on #199
In the process of the validation, if you have more than one validate rule, it will go one by one. In the case, it will stop the validation and show the specific error message when it fail on any rule.

You may custom it by yourself or include all the rules into one

Yes, the error messages will disappear once it has no error

:smile:

[2016-04-08 03:36] daituzhang commented on #199
Thank you I made a custom one.

[2016-04-08 07:20] #199 closed

[2016-04-11 17:54] knulan commented on #189
@huei90 any progress on this?

[2016-04-13 16:48] joseluisq opened #200 "Remove validation for specific fields on the fly"
How can I remove validations for specific fields on the fly and vice versa?

[2016-04-13 21:02] huei90 commented on #200
@joseluisq Do you mean changing or deleting the validator ?

[2016-04-13 22:06] joseluisq commented on #200
Yes, changing and deleting validation.

[2016-04-13 22:36] huei90 commented on #200
recompile the form may works. but I haven't tried it yet.
Do you mind trying on `$compile` the form?

[2016-04-13 23:21] joseluisq commented on #200
No, I didn't tried it..
But It would be great! support for changing or deleting validation for specific fields 😄

[2016-04-14 08:05] huei90 commented on #200
It's difficult though it need to re-generate all the validation.

changing/deleting means have to **watch** the validation, I may suggest we use a method API to manually trigger the compilation.

what do you see?

[2016-04-14 21:07] joseluisq commented on #200
Fine, for now I will try to trigger the compilation.
Thanks 👍

[2016-04-17 11:03] pronebel commented on #186
radio 同一个组很常见啊

<input validator="required" type="radio" ng-model="test" name="test" value="Y" id="test1" class="ng-pristine ng-untouched ng-pending">
<label for="test1">Test One</label>

<input validator="required" type="radio" ng-model="test" name="test" value="N" id="test2" class="ng-pristine ng-untouched ng-invalid ng-invalid-test">
<label for="test2">Test Two</label>

这个而且是angular自带的方式，如果要给ng

[2016-04-18 09:26] sachinlogiciel opened #201 "Set value zero generate invalid error on form load"
I set a validation on some field of form and on form load i set value 0 on that and it generate validation error on form but i set validation that allow zero so if i remove prefilled zero then again fill zero value form become valid but when i set value 1 on form load i valid on load. I don't understand why it is like that so moreover when value set 0 on form load it doen't let me submit a form no

[2016-04-18 09:38] #200 closed

[2016-04-19 07:44] 275287902 opened #202 "with webpack"
with webpack?

[2016-04-23 21:15] huei90 commented on #202
PR for webpack?

[2016-05-02 17:30] Nazanin1369 commented on #202
I am gonna put a PR today

[2016-05-03 07:24] #202 closed

[2016-05-10 15:09] huei90 commented on #201
Do you mind giving the step by 1,2,3.. I'm not sure if I understand the meaning.

[2016-05-10 15:10] huei90 commented on #189
unfortunately no =( I'm busy on other things right now. see if someone can help on fixing.

[2016-05-10 15:12] huei90 commented on #176
Close the issue now.

[2016-05-10 15:12] #176 closed

[2016-05-11 12:30] dmitry-dedukhin commented on #189
Seems that [this commit](https://github.com/huei90/angular-validation/commit/652538f1fc83dfd61781accd3e1d4daa104df1f0#diff-9ba02d5da9eba1aed58996af9e54dbb8L486) is a root cause of the problem

[2016-05-11 12:37] huei-tan-sociomantic commented on #189
changing it back to `scope.validCallback` & `scope.invalidCallback` should work 😄

[2016-05-11 12:38] huei90 commented on #189
changing it back to `scope.validCallback` & `scope.invalidCallback` should work 😄

[2016-05-11 12:47] dmitry-dedukhin commented on #189
No, there is no isolated scope any more.
So, the fix should be like the following:

[code]
And the same changes should be done in validFunc.

[2016-05-11 12:49] huei90 commented on #189
Thank you @dmitry-dedukhin You are right 🍻

Do you mind creating a pull request to fix this?

[2016-05-11 12:54] dmitry-dedukhin commented on #189
Done, https://github.com/huei90/angular-validation/pull/206

[2016-05-12 08:27] #189 closed

[2016-05-15 10:43] wingwell commented on #115
try to comment file angular-validation.js line752  //return;

[2016-05-20 16:54] eduardonaguiar opened #207 "Validation problem when try to put a part of value of the mask"
In my case I use ui-mask and need to put a parcial string in a input masked so even with allowInvalidValue setted to true the model doesn't validate neither show the validation message. If I put a complete value the model it is validated.

[2016-05-20 17:09] Nazanin1369 commented on #207
Can u put up an example

On Friday, May 20, 2016, eduardonaguiar <notifications@github.com> wrote:

--
Best Regards,

[2016-05-20 17:20] eduardonaguiar commented on #207
<input
      id="phone"
      name="phone"
      type="text"
      class="form-control input-md"
      ng-model="data.phone"
      ui-mask="(999) 9999-9999"
      validator="required"
      valid-method="submit"
      allow-invalid-value

If I type (000) 0000-000_ (no complete the mask) and try to validate ( $validation.validate(form) ), the method doens't execute sucess promise and doens't show t

[2016-05-21 06:22] Nazanin1369 commented on #207
You are validating whether the value is required, SO when you enter a half of the mask there is no validation.
Also you have allow-invalid-value directive which I am not sure why it is there. Can you try this without this directive

[2016-05-23 14:18] eduardonaguiar commented on #207
I'm working on a new GUI for a old database, so the values for this data can be broken for this new mask.
If the user try to alter the form with the broken data field the form is not validating. I just need that the form be validate with the broken masked data.

[2016-05-24 07:59] huei90 commented on #207
you need to customize your validator "required"

[2016-05-24 13:29] jokimsampath opened #209 "Not working"
It is now working for me

[2016-05-24 16:58] scottadamsmith commented on #209
Sounds like a good feature to me. I prefer libraries to "now work".

[2016-05-24 17:03] dapriett opened #210 "Validation Group and form checkValid"
Hello,

It looks like checkValid for a form returns false unless everything in the validation group is valid.  You can see this in your example by only selecting 1 checkbox https://github.com/huei90/angular-validation/blob/master/index.html#L325

Shouldn't the form be valid if at least one is selected?

[2016-05-26 07:25] maxhan247 opened #211 "Validator for confirm password ?"
For issue in https://github.com/huei90/angular-validation/issues/24

[code]

[code]

if we enter password first. then I enter passwordAgain first and then I change password, it should show "not match", but it not.

Because the matching in here doesn't watch the change of ` ng-model="password"`. It only works when I change ng-model="passwordAgain".

Would like to make an example, the functionality

[2016-05-26 09:27] maxhan247 commented on #211
I already slove in https://github.com/huei90/angular-validation/issues/24

[2016-05-26 10:25] huei90 commented on #211
hmmm... i'm not really understand it. What's the version of
angular-validation are you using now?

On Thu, May 26, 2016 at 12:02 PM, maxhan247 <notifications@github.com>
wrote:

[2016-05-26 11:30] #209 closed

[2016-05-26 16:36] maxhan247 commented on #211
Is angular-validation 1.4.1

[2016-05-26 18:40] maxhan247 commented on #211
This is my code: [](https://plnkr.co/edit/47RzIK)

[2016-05-27 14:09] huei90 commented on #211
I understand your question after formatting the markdown language.

You are asking for the first input change observe the second input validation, currently there is no built-in function to do that, but you can manually trigger the `$validationProvider.validate(<specific form>)` when the input is changed.

[2016-05-27 14:10] huei90 commented on #210
Thank you for reporting this issue @dapriett 🍻

[2016-05-27 14:10] huei90 commented on #210
@lvarayut Do you have time to look at this?

[2016-05-27 14:10] #201 closed

[2016-05-27 14:12] huei90 opened #212 "Update dependencies and test it!"

[2016-05-27 14:51] lvarayut commented on #210
I'll take a look at it as soon as possible, probably at the end of next week. Before that, if anybody could get it done, that would be really welcomed.

[2016-05-28 14:34] j-langlois commented on #185
hello friends,
I haven't been here a while but if it might help anybody, I modified a bit of code to enable clearing the error messages. I've done this on 1.3.2 some time ago, hope I'm not forgetting anything

[code]
[code]

In your controller:
[code]
And then when needed, call
[code]

[2016-06-03 21:59] eduardonaguiar opened #213 "Validation problem when using ngForm."
When I nested some forms, the main validation expect the fill of elements within the sub forms. How do I make nested validations?

[2016-06-03 22:40] huei90 commented on #213
Do you mean ng-form inside another my-form?

Am Freitag, 3. Juni 2016 schrieb eduardonaguiar :

[2016-06-06 19:34] eduardonaguiar commented on #213
Fallow the code:

[code]

In the controller:

[code]

I fill the list1 in the sub form subform1. When a try save the main form, the model not is validate causa the input text1 is empty. Thats mean the validation in the main form is using all inputs in the form to validate. I just need validate the text1 input. How do I do this approach?

[2016-06-08 03:48] mcblum opened #214 "Problem using built-in validators"
Any idea what would be causing this error: `vendor.js:31 You are using undefined validator "required"`? My understanding was that required and a handful of others are included. Thanks for your work on this library -- I hope to use it!

[2016-06-08 12:23] huei90 commented on #214
You need to define the rule in your application, in other words, this error means you didn't define the rule `validator`

[2016-06-08 12:23] huei90 commented on #214
FYI
https://github.com/huei90/angular-validation/blob/master/src/rule.js

[2016-06-08 12:23] #214 closed

[2016-06-08 12:27] huei90 commented on #213
Ideally, try to separate the two forms to make your markup clear.

otherwise you need to manually validate only `text1` that means your code will do a lot of logic.

[2016-06-08 12:27] huei90 commented on #212
nobody 🙇

[2016-06-08 12:27] #211 closed

[2016-06-08 12:27] #207 closed

[2016-06-08 16:46] eduardonaguiar commented on #213
The validation doens't work with nested forms?

[2016-06-08 19:28] mcblum commented on #214
Yep! Thank you. I just missed that step.

[2016-06-08 20:02] huei90 commented on #214
Great!

Am Mittwoch, 8. Juni 2016 schrieb mcblum :

[2016-06-09 13:32] huei90 commented on #213
@eduardonaguiar I didn't tried on nested form very deeply, but i would suggest

[2016-06-09 14:43] mcblum opened #216 "Question: Triggering a check of a form and showing all errors?"
Hi. I'm sorry to use the issues panel to submit a question. I've been stuck on this for a couple days. I've tried to copy your exact example from the demo page:

[code]

The name of the form is 'general'. It always returns an error no matter what I do but the errors (red text next to the input) never appears. Sorry to be a pain in the butt.

Edited to add: I figured out why the form wouldn't valid

[2016-06-09 15:17] #210 closed

[2016-06-10 12:39] huei90 commented on #216
The general should be the real form scope, try looking for the general in $scope.xxx

[2016-06-10 15:15] mcblum commented on #216
Thank you for your response! I just cracked it and it was something really dumb -- in order for the errors to show all input elements must have a name. We typically don't use names since we're doing everything with ng-model, but in this case we needed them. Hopefully this can help someone else if they get tripped up!

[2016-06-10 15:20] huei90 commented on #216
👍

[2016-06-10 15:20] #216 closed

[2016-06-12 06:50] Nazanin1369 commented on #212
I will do this

[2016-06-12 18:54] XuanLuxury opened #217 "Can I use validator="email" but not required."
Can I submit this form.
![image](https://cloud.githubusercontent.com/assets/15143586/15993245/a0a7b8b6-30df-11e6-9bc6-f0e75e7e4bdb.png)
Set the validator="email". But can be submit when the email box is empty.

[2016-06-13 08:44] huei90 commented on #217
You should customize the validation condition/regex.

[2016-06-13 08:44] #217 closed

[2016-06-14 17:43] forrochan opened #218 "Validating multiples fields with dependency"
How do i validate multiple fields with dependency in a form, i mean lets take for example i have a select, which seys "Food, Numbers" and is currently on "Food", next i have a text input called "validationInput" , what i want to do is, if the select is on number, validate that theres is a number on validationInput, and a name otherwise

[2016-06-15 08:51] huei90 commented on #218
I didn't try it yet, but you can try
https://github.com/huei90/angular-validation#integrating-with-twitter-bootstrap

[2016-06-16 06:40] prakashtechmango opened #219 "Give Some example of group validation"
i have two types of submit buttons one is save and another one is submit. when click save button only few fields only validated . while click on submit button whole form fields should be validated. please give me solution. how to use validation group also?

[2016-06-16 08:49] huei90 commented on #219
**Submit**

You have to define all `validation` for every single input fields, and $validate all of them. (simple one)

**Save**

You have to define the fields you want to validate on Save with `validation-group`.
Here's the example
https://github.com/huei90/angular-validation/blob/master/API.md#use-a-validation-group-

Hope this is clear.

[2016-06-16 20:03] mcblum opened #220 "checkValid() is failing"
Hi. We have a multi-part form and we want to validate when the page loads in case some sections are already complete as well as when the user clicks 'save + next'. Validation is working when the user clicks 'save + next' but validation is failing completely when the app loads, even though no data has changed between the load and the button click.

Any idea what might be wrong? Does triggering the

[2016-06-17 10:35] huei90 commented on #220
Is validation able to work even in app loads? loading?

[2016-06-17 13:53] mcblum commented on #220
I spent all day trying to figure out what could be wrong and I couldn't do it. The only thing that we were able to find is that on the form $vald and $invald were both undefined. Also, the form is made up of many sub-components so we thought it might be an issue where the form loads but not all of the sub components have loaded so it doesn't actually know if it's valid or not.

[2016-06-17 13:54] mcblum commented on #220
That said, once everything is loaded and the user clicks "save and continue" it works great!

[2016-06-17 13:55] huei90 commented on #220
You sure have to wait everything load complete before submit button to prevent inconsistent value data.

[2016-06-17 14:43] mcblum commented on #220
Is there a way to check whether all sub-components have loaded since the inputs are lately contained within them?

[2016-06-17 14:44] huei90 commented on #220
if your load is in AJAX, try using the promise to check the load state.

[2016-06-20 09:06] #220 closed

[2016-06-20 09:06] #219 closed

[2016-06-20 09:07] #218 closed

[2016-06-20 09:07] #213 closed

[2016-06-21 15:49] dapriett commented on #210
Thank you!  Any plans to push a new release - looks like 1.4.1 is still the latest.

[2016-06-21 16:02] lvarayut commented on #210
@huei90, I think that it's better to get the #212 done before releasing a new version.

[2016-06-23 12:34] agarciagan opened #222 "Add Custom Valid Message (error, success) for custom valdiation on html"
Hi,
After generating a custom validation I had some problems providing a custom translated success/error message for it.
The API help page (https://github.com/huei90/angular-validation/blob/master/API.md) shows an example for the email and required validations.
In my case the validation was equalsPassword and equalsPassword-error-message and equalsPassword-success-message where not found by my app

[2016-06-23 12:37] huei90 commented on #222
Did you provide `validator="equals"` in your form input?

[2016-06-23 13:05] agarciagan commented on #222
Yes, the whole input field is :
` <input  id="equals" ng-model="user.equals_password" name="equals" value="" placeholder="{{ 'Confirmar contraseña' | translate }}" class="form-control input-md" type="password" validator="equals"
                                        validator-model="{{user.password}}" valid-method="blur" equals-error-message="{{ 'Password no coincide' | translate }}"  equals-suc

[2016-06-23 14:19] huei90 commented on #222
Thanks @agarciagan Do you mind creating a Pull Request to add the reminder about those validation name should be in lowercase?

[2016-07-05 16:29] huei90 commented on #210
agree.

[2016-07-05 16:29] huei90 commented on #212
ping @Nazanin1369

[2016-07-05 17:29] Nazanin1369 commented on #212
Will pit up a commit by tomorrow

On Tuesday, July 5, 2016, Huei Tan <notifications@github.com> wrote:

--
Best Regards,

[2016-07-14 07:49] huei90 commented on #212
I will do it if you are busy on something else. @Nazanin1369

[2016-07-20 03:01] 505019759 opened #224 "null do not trigger validation in the first place"
I have a function to implement, When edit the user, if the admin do not enter the password, then it would be okay and no change to the password. If enter the password, then change the password in DB. However, I use the validator to validate password. Something like:

`<input type="password"  validator="password"/>`

The save button will be disable when first enter the page because the validator pa

[2016-07-20 10:24] huei90 commented on #224
Do you mean you want the save button to be enabled when the validator password `valid`?

Then you can use **valid-callback**.

[2016-07-21 01:21] #224 closed

[2016-07-21 08:02] huei90 commented on #224
does valid-callback works?

[2016-07-21 15:13] rickerd opened #226 "Form validation"
Hi All,

I'm using this module in my project and i made some validators too (i can submit them as an extra validation rule if you all want) but i'm having trouble with the validation of the form.

I want to use formName.$valid in order to check if a user can submit or not. This doesn't work so i looked around and i came across this;
`this.form = {
            checkValid: $validationProvider.checkV

[2016-07-21 15:18] huei90 commented on #226
unfortunately, you have to do it one by one for every forms.

currently there is no any generic/specific button trigger enable through `checkValid`

[2016-07-21 15:21] rickerd commented on #226
Hmm.. damnit.
Is there a way (maybe in your thoughts) on how to do this? And is this something other people also want?
I would like to help but i'm not a real pro (yet).

[2016-07-21 15:24] huei90 commented on #226
There is a directive works,

suppose you want to checkValid of the submit button, here's the element

[code]

perhaps customize one directive for it, name as `checkValid`

[code]

within the directive, it checks by using `$validationProvider.checkValid`, then you can use the directive everywhere.

hope this answer you.

[2016-07-21 15:25] huei90 commented on #226
I would say, this is nice to have feature 🍻

[2016-07-21 15:27] rickerd commented on #226
Okay, i will try and find a way to accomplish this.
Wish me luck :p

[2016-07-21 15:29] rickerd commented on #226
@huei90 extra validations i worked on.
https://gist.github.com/rickerd/621b541736e7470c237e0f6f27180ea7

[2016-07-21 15:29] huei90 commented on #226
wow, it is cool! keep going.

[2016-07-22 02:08] crossRT opened #227 "Validation required is not trigger on textarea when form submit"
Hi huei90, thanks for your efforts that contribute to this useful validation in the angular word, it's really helpful!
But now I have a problem: text area is not validated when form submit.
Here's my textarea in `jade`:
[code]

And here's my button to submit:
[code]

All other fields are validated, error msg has shown properly. But only text area got no error msg if I empty it. Once I fill in all

[2016-07-22 07:32] huei90 commented on #227
1. do you have `form(name="Form")` given the property name
2. what's your validator require condition
3. can you please paste the rest of the code (all other fields) so that I can debug

[2016-07-22 08:35] crossRT commented on #227
Hi huei90,
1. Yes, I have the name for the name. And I did pass it to `validation-submit`
2. I'm using the default validator rules `required` and validate-method `blur`
3. yes, please refer to below.
This is my form
[code]

To support bootstrap, I do some config to $validationProvider:
[code]

[2016-07-22 08:39] crossRT commented on #227
After I replied, I just found that this issue is caused by the `name` attribute for text area is missing.
It's fixed now.
Thanks for your help.

[2016-07-22 08:43] huei90 commented on #227
Try adding a name attribute in textarea

[code]

[2016-07-22 08:44] huei90 commented on #227
Great! Open the issue if you have others.

[2016-07-22 08:44] #227 closed

[2016-07-22 08:49] #226 closed

[2016-07-22 08:49] huei90 commented on #226
btw, if you found the directive useful, you can contribute it to angular-validation 😄

[2016-07-22 08:49] rickerd commented on #226
Noooooo, i'm working on it haha.
I'll make PR if it's done

[2016-07-22 08:53] #222 closed

[2016-07-22 09:12] #212 closed

[2016-07-31 03:32] wujitouch opened #228 "Add id and selector for autogenerated message span"
Currently, if you put an element after the input element, angular-validation will use that element to put the validator message instead of creating another element after that one.

Example:

`<div class="form-group">`
`    <label for="name">Name</name>`
`    <input type="text" id="name" validator="required" />`
`    <sub>your name</sub>`
`</div>`

In this case, validator will put the message in th

[2016-07-31 09:41] huei90 commented on #228
this.getMsgElement allows user to customize his own html style.

So, I suggest you customize the method to achieve your requirement.

Hope this is fine.

[2016-07-31 11:39] wujitouch commented on #228
I did but I felt it would be a good change to the original project. I'll submit a pull request when I have time.

On Sun, Jul 31, 2016 at 5:41 AM, Huei Tan < notifications@github.com [notifications@github.com] > wrote:
this.getMsgElement allows user to customize his own html style.

So, I suggest you customize the method to achieve your requirement.

Hope this is fine.

—
You are receiving this be

[2016-07-31 12:24] huei90 commented on #228
I would review your pr when it is ready.

To better understanding, your pr should contains detail about the test file, documentation and example, so then collaborators can discuss and decide whether to merge it.

Thanks a lot! Looking forward to your pull request :smile:

[2016-08-04 00:22] ab1303 opened #229 "Conditional Required validation..."
Is there a way, I can do conditional validation e.g. "Conditional Required" validation.
My scenario is that I am building a directive and I want to turn on/off validation on inputs elements in that directive's html template based on a parameter.

[2016-08-04 08:29] huei90 commented on #229
Thanks for asking this question @ab1303

Here's the discussion about the `condition` before,
https://github.com/huei90/angular-validation/issues/152

please have some time to read all the thread.

Please let me know if there is any other issues.

[2016-08-04 08:29] #228 closed

[2016-08-07 13:04] ab1303 commented on #229
Hi huei,
     I have gone through the thread, but I feel my case is a little different or I didn't understood the problem in that thread.

Let me elaborate my case.
I am making a directive named

`<form>
<address require-validation="vm.isRequired"> </address>
<input type="submit" />
</form>`

Template of address is something like
`<input id="address1" validator="required" />
<input id="address2" v

[2016-08-08 09:09] huei90 commented on #229
@ab1303 here's the example of your condition `vm.isRequired`, try writing in your own code.

[code]

hope this works .

[2016-08-09 05:28] ab1303 commented on #229
@huei90

Thanks for your reply, I had looked at the above example before but unfortunately this is not what I am looking for.
I don't want to turn on/off validation of the form.
I am basically looking for a switch on a directive which will turn on/off validation on all the fields of that directive.
e.g. Address directive
In my case as I said in previous reply
[code]
The template of address directi

[2016-08-09 08:53] huei90 commented on #229
[code]

There is no way to do such thing in the current version of `angular-validation`.

**BUT**, would you mind helping to test the code below.

[code]

[2016-08-12 06:17] crossRT opened #230 "validate when the value is not empty"
Hi there, may I know how to validate the field only when it's not empty?
My problem is I have some field to validate the format, but it's not required.
I tried the directive `validation-condition="inputs.VALUE"`, but it's not working.

[2016-08-12 07:48] huei90 commented on #230
Please see the issue
https://github.com/huei90/angular-validation/issues/229

[2016-08-12 14:01] #230 closed

[2016-08-24 21:27] dsvvimal commented on #219
form submit is not working when i use validation group. Could you please help me how to fix this? Below is my code
<form role="form" name="Form">
	<input type="email" class="form-control" id="email" placeholder="Email" name="email" ng-model="email" validator="email" valid-method="blur" email-error-message="Invalid Email" style="">
	<input type="password" class="form-control" id="pwd" placeholder="

[2016-08-24 22:50] dsvvimal opened #232 "Constructor of Undefined"
i am getting "Cannot read property 'constructor' of undefined", when validating using button
below is the plnkr.

could you please help me in fixing this?.

"https://plnkr.co/edit/908JHCQrxHQiDNpGxxWe?p=preview

[2016-08-29 06:57] Sunjay999 commented on #191
How to check valid form then it should take to next page (action)?
Could you please help me

[2016-08-29 07:28] Sunjay999 commented on #191
I found this from some of the conversation it is working for me
Thanks :)
.success(function(){
				 window.location = "http://www.google.com"
    })

[2016-08-29 19:10] Nazanin1369 commented on #232
I cannot reproduce the error you have mentioned. Can you give me the exact values you are entering in inputs

[2016-08-29 19:29] dsvvimal commented on #232
Just click the button without entering any values and check the console.

[2016-08-30 11:19] dmitry-dedukhin commented on #232
+1
The error appears when validation expression is a RegExp and check bellow is falsy

[code]

In this case function checkValidation returns nothing.

[2016-08-31 13:38] dharma-reddy opened #233 "How to avoid one field from the validation in a form"
Hi,

I have 5 fields in form and out of that two fields are optional,Now I am not able to submit the form without entering those optional fields.
I have removed 'required' from those two optional fields.But, still i am not able to submit the form.

Please let me know what is the problem

Thanks,
Dharma

[2016-08-31 13:56] huei90 commented on #233
You should customize those two fields and allow them to accept null|undefined|"" value.

[2016-09-02 03:40] a346721573 commented on #139
需要用在指令上时，貌似失效了，支持么？

[2016-09-02 15:48] huei90 commented on #139
目前不支援哦！請升級至 1.3 或 1.4！

On Fri, Sep 2, 2016 at 5:40 AM, a346721573 <notifications@github.com> wrote:

[2016-09-08 05:08] panxin299 opened #234 "使用validationProvider.validate(form)报异常：angular-validation.js:196 Uncaught TypeError: Cannot read property 'hasOwnProperty' of null"
angularjs版本是1.2.6
angular-validation用的是最新版

请问是什么问题？

[2016-09-08 08:33] huei90 commented on #234
Can you post your source code here? Thanks.

[2016-09-08 15:24] #234 closed

[2016-09-13 15:39] #232 closed

[2016-09-14 20:52] #233 closed

[2016-09-14 20:52] #229 closed

[2016-09-21 03:42] alanerzhao commented on #139
angular datepicker 貌似报错。
Bootstrap DatePicker
$compile:multidir Multiple Directive Resource Contention

[2016-09-22 09:10] 632781460 opened #236 "minlength throw undefined error"
minlength validator throw undefined exception  when model value is undefined

[2016-09-26 06:55] liorch88 commented on #236
PR #240 should fix that

[2016-09-26 08:50] jasonxia23 opened #242 "How can I access my parameter dynamically"
[code]
[code]
`param` is **`total`** rather than the value of `total`.

[2016-09-30 11:46] jpthakkar commented on #242
Same here, received 'total' as text, but when used it as {{ total }}, received blank value.

[2016-10-03 05:14] gaurav-chandra opened #243 "The validation messages should also show when submitting the form if blur does not happen"
My inputs have `valid-method="blur"` and the messages show as expected when the fields are blurred. But I also want to show the corresponding messages when I submit the form. Here is the submit code:

[code]

Now, the validationProvider gives me error but I am not able to show the messages for each corresponding field like when they show on blur.

The use case is that the user directly clicks on S

[2016-10-12 02:29] Github-Player opened #244 "How can i disable the submit button when form is invalid status ?"
Hello huei,
How can i disable the submit button when form is invalid status ?
I expect use $watch feature and disable submit button if invalid,
Which example should i use ?

My env is Angularjs 1.26

[2016-10-12 05:16] crossRT opened #245 "Validation group for checkboxes"
I follow the example and try to implement the validation group for checkboxes validations, but got no idea why I always get this error:
`TypeError: Cannot read property 'acute_care' of undefined`
And the validation didn't fire at all.

My HTML markup:

[code]

Please correct me if I doing it wrongly.

Update: provide reproduce on CodePen
http://codepen.io/crossRT/pen/kkJmKj?editors=1010#0

[2016-10-13 06:12] xqihang opened #246 "Thank the author, how to support the [select] tag?"
Thank the author, how to support the select tag it?
<select></select>

[2016-10-13 06:14] #246 closed

[2016-10-14 09:14] poppahorse commented on #134
For my use case it is not possible to wrap inside the <form>, @huei90 any other ideas to get this working outside the form?

[2016-10-14 09:16] huei90 commented on #134
unfortunately no, `angular-validation` only works when you wrap inside the form.

[2016-10-14 09:18] huei90 commented on #245
Sorry for the late replied.

According to your CodePen, you should also include the `angular-validation-rule.js` file to get the validation rule.

[2016-10-14 09:18] poppahorse commented on #134
Hmm, not even possible with a service as @Nazanin1369 mentioned?

[2016-10-14 09:18] huei90 commented on #134
Can you point which service do you mean?

[2016-10-14 09:20] huei90 commented on #244
Sorry for the late replied.

`checkValid()`

https://github.com/huei90/angular-validation/blob/master/API.md#check-form-whether-valid-return-true-if-valid-checkvalid-

Hope this is useful.

[2016-10-14 09:20] #244 closed

[2016-10-14 09:21] poppahorse commented on #134
I have form submission happening from a common header file, as such its not possible to have the submit button within the actual form. The service is just a custom one I am using to allow each controller to configure the header to have the appropriate actions / buttons etc

[2016-10-14 09:24] huei90 commented on #242
There is no `watch` on the attribute `validator`, so you can't do that.

[2016-10-14 09:25] huei90 commented on #242
https://github.com/huei90/angular-validation/blob/master/API.md#validator-parameters

this not works in your case?

[2016-10-14 09:26] huei90 commented on #242
yes, validator="personal=`total`", `total` is a fix String here.

[2016-10-14 09:27] huei90 commented on #242
better if you can get the other attribute

[code]

and try to get the attribute in `setExpression`

[2016-10-14 09:31] huei90 commented on #134
try broadcast.

it's ugly and they are not in the same form,

[2016-10-14 09:34] poppahorse commented on #134
ok thanks, I will have a play

[2016-10-14 14:33] poppahorse opened #247 "Form submits only with button click? Not on <enter> within a field. Also ng-submit"
So there seem to be a few issues submitting forms.

I can only attach the submit to an `ng-click` on a button, and when I press enter it doesn't get caught.

Ideally I want to use `ng-submit` to declare the function that should be fired, and able to submit via enter OR pressing the submit button. Both ways of submitting should be blocked by the validation.

https://plnkr.co/edit/nwTEuxuTMmpEc4hrFw

[2016-10-17 13:27] huei90 commented on #246
I hope you already found the solution.

[2016-10-20 08:41] huei90 commented on #247
What you can do is updating the button type to `type=button`

[2016-10-20 08:56] huei90 opened #249 "[Improvement] Specific Form to show/hide Success/Error message"
specific Form to show/hide Success/Error message **instead of globally**.

but globally method still exist.

[2016-10-20 08:58] huei90 commented on #236
merged.

[2016-10-20 08:58] #236 closed

[2016-10-20 08:58] #242 closed

[2016-10-20 09:29] huei90 opened #250 "Solution for not showing the success message."
Thread Discussion - https://github.com/huei90/angular-validation/pull/248

We always show error message, but not to success message.

[2016-10-20 09:41] jeevasusej commented on #250
157

[2016-10-20 09:45] huei90 commented on #250
more information about it https://github.com/huei90/angular-validation/pull/248#issuecomment-255057541

[2016-10-20 13:21] poppahorse commented on #247
Thanks for the response. And `ng-submit` is coming at some point? :)

Yeah ended up doing that, but then put the function + valid check in ng-submit too, feels a bit hacky though but can't guarantee someone is going to actually 'click'

[2016-10-20 13:26] huei90 commented on #247
nice, do you want to add your solution into [Q&A section](https://github.com/huei90/angular-validation/blob/master/Q%26A.md)?

So that people can benefit from it.

[2016-10-21 13:25] fplini opened #251 "Validator number but not required"
Hi all! I'm using this validation plugin but I have a problem. I have an input text (type=text and validator=number) but is not required for me. So if I try to submit the form no errors are showed but also no action is triggered.

Any idea?
If I remove validator=number all works fine.

Thanks
Fabrizio

[2016-10-21 13:29] huei90 commented on #251
try `validator="required, number"`

[2016-10-21 13:31] fplini commented on #251
Hi and thanks for the reply. If I put "required" this means that the field is required but it isn't. So I can submit the form with the input value blank

[2016-10-21 13:41] huei90 commented on #251
if you are looking for using the `validator="number"` but doesn't want it to be `required`, please see this comment.
https://github.com/huei90/angular-validation/pull/241#issuecomment-255084600

[2016-10-23 08:27] #251 closed

[2016-10-24 10:17] jpthakkar opened #252 "Triggering toaster popup on validation error"
Hi,

This is not really an issue; but I am looking forward for a suggestion to trigger toaster popup on validation error.  I am using below  configuration:

` $validationProvider.setErrorHTML(function (msg) {
            var html = '<span class=\'label label-danger\' translate>{{ \'{0}\' }}</span>'.replace('{0}', msg);
            return html;
        });`

Thank you in advance.

Best regards,
Jig

[2016-10-24 10:18] huei90 commented on #252
Hi @jpthakkar You can take this section as the example.
https://github.com/huei90/angular-validation#integrating-with-twitter-bootstrap

[2016-10-24 15:08] jpthakkar commented on #252
Hi @huei90 ,

Thank your for your prompt response on this request. I shall try it and post a solution.

Appreciate your help.

Best regards

[2016-10-24 15:19] huei90 commented on #252
Cool, reopen this if you have any issue.

[2016-10-24 15:19] #252 closed

[2016-10-25 15:14] jpthakkar commented on #252
Wow, this was easy.

here is solution:

`angular.extend($validationProvider, {
            invalidCallback: function(element) {
                var msg = $(element).attr("required-error-message");
                logger.error(msg);
            }
   });`

HTML
`<input type="text" ng-model="vm.credential.username" translate translate-attr-placeholder="LOGIN.EMAIL_ADDRESS" validator="required" transl

[2016-10-25 15:16] huei90 commented on #252
Nice! Awesome 🍻

[2016-10-26 09:26] fplini opened #253 "Plugin not compatible with ui-bootstrap datepicker?"
Hi!
I'm using this plugin with ui-bootstrap datepicker. When I add "validator="required" to my input tag the datepicker will not works.

This is my code:

[code]

[2016-10-26 09:31] huei90 commented on #253
hmm.. it should works, we fixed it in the past.
https://github.com/huei90/angular-validation/pull/162

[2016-10-26 09:31] huei90 commented on #253
Have you use the `<form>` element?

[2016-10-26 09:33] fplini commented on #253
Yes sure!

[2016-10-26 09:43] fplini commented on #253
The first time that I click on the icon to open the datepicker I receive this in console:

`lib.min.js:5 Error: [$compile:ctreq] http://errors.angularjs.org/1.5.8/$compile/ctreq?p0=ngModel&p1=uibDatepicker
    at lib.min.js:3
    at ib (lib.min.js:4)
    at ib (lib.min.js:4)
    at p (lib.min.js:4)
    at lib.min.js:4
    at lib.min.js:5
    at m.$eval (lib.min.js:6)
    at m.$digest (lib.min.js:6

[2016-10-26 16:07] huei90 commented on #253
is the error coming from `angular-validation`?

[2016-10-27 12:59] fplini commented on #253
Mmm I'm not sure. Not always the error is printed. So at present simpy if I add validator="required" the datepicker isn't show. Very strange..

[2016-10-27 16:57] huei90 commented on #253
Can you post a plunkr(or any editor) so that I can check it.

[2016-10-28 08:33] fplini commented on #253
https://plnkr.co/edit/IvQI8ALCFEKHiGSdcjqM

As you can see on the input text of datepicker there is the validator="required" and the datepicker not works. If you try to remove the attribute so the datepicker works fine.

[2016-10-28 10:55] huei90 commented on #253
I got this error, looks like it is something the success/error message block angular-validation created.
![screen shot 2016-10-28 at 12 49 29](https://cloud.githubusercontent.com/assets/2560096/19804284/b93b91d2-9d0d-11e6-822f-42164486db3d.png)

[2016-10-28 12:03] fplini commented on #253
Ok so for the moment I removed the validator and make the label readonly. Hope it will be fixed soon :)

[2016-10-28 15:15] fplini opened #256 "how to reset form from controller?"
Hi! Is there a way to reset the form from the controller (after some checks)?

[2016-10-28 20:22] huei90 commented on #256
hi @fplini you can write your own function with the `reset` method.
https://github.com/huei90/angular-validation/blob/master/API.md#reset-the-specific-form-reset

[2016-10-30 16:02] rakeshgudipudi opened #257 "Is initial-validity broken?"
I tried adding initial-validity to an input element. But it was always false.
I had a look into the source code and figured it was set from scope. But, i guess it had to be initialized from attrs.

The following fixed it for me.
var initialValidity=attrs.initialValidity;

Let me know if i am on right track or is there a solution without changing source.
Thanks

[2016-10-31 09:09] huei90 commented on #257
yes @rakeshgudipudi you are right, it should set as `attrs`, I don't even remember why we set it as scope 👍

Thanks anyway!!!

@lvarayut Do you have any thought here?

[2016-10-31 09:11] huei-tan-sociomantic commented on #257
Finally, it is because we already remove the scope in defining the directive here
https://github.com/huei90/angular-validation/blob/master/src/validator.directive.js#L265

@rakeshgudipudi Do you mind creating a PR for this?

[2016-10-31 09:11] huei90 commented on #257
Finally, it is because we already remove the scope in defining the directive here
https://github.com/huei90/angular-validation/blob/master/src/validator.directive.js#L265

@rakeshgudipudi Do you mind creating a PR for this?

[2016-11-03 03:33] st9407 opened #258 "Submit驗證完後，focus會從第二個欄位開始"
您好^^
我有一個表單
第一個欄位是驗證中文姓名，第二個是身分證，第三個是英文姓名
都不輸入資料，按submit後
focus會在身分證欄位而不是中文姓名

我有在angular-validation.js做測試
checkValidation函式裡面，console.log(element.attr('id'))是從中文姓名開始
但進入invalidFunc函是，console的id身分證就變成是第一個了

我也有測試您的DEMO網頁，在Form ($submit-only)不輸入資料按Submit
一樣是focus在第二個欄位Email

再麻煩您幫忙測試看看該如何修正這個問題
這個程式非常棒，很感謝您，希望能夠看到它變得更完善^^

[2016-11-03 03:50] st9407 commented on #258
補充一下：
剛剛測試發現只會focus在rule是正規表達式的欄位，
錯誤訊息也是正規表達式的欄位會先提示

[2016-11-03 09:59] huei90 commented on #258
😭  這個問題之前曾經發生過！怎麼又回來了！

感謝你的 Issue!

[2016-11-05 18:52] Nazanin1369 commented on #253
@fplini You need to specify the message-id and span for the validation message.
Here is a working version
https://embed.plnkr.co/HrfJBp2BoAKeRL61pCDE/

[2016-11-05 18:53] #253 closed

[2016-11-07 08:40] liorch88 opened #260 "Form validation not triggering when changing the default validation method"
When I change the default validation method to something other than watch:
[code]
The form validation does not trigger. Meaning, that after clicking "submit", the success method will not be called and the form controller `$valid` and `$invalid` properties will remain `undefined`.

Notice that it does set the validity of each of the fields (all of the fields get `$valid = true`) - but not of the fo

[2016-11-07 09:40] huei90 commented on #260
hmmm.. this is weird, it doesn't work 💥

[2016-11-08 07:45] souravmondal93 opened #261 "Wiredep not picking angular-validation-rule.js by default"
Because of the missing dependencies in `bower.json` file, wiredep is not able to pick up 'angular-validation-rule.js' file. According to wiredep documentation, I am using the `override` property to overcome this problem. But, it will be better, if we can update the `bower.json` file.

#### Update bower.json file
[code]
Notice the changes in `dependencies` key-value pair.
If needed, I can put a `pu

[2016-11-09 16:33] poppahorse commented on #260
Running into this issue too!

[2016-11-11 13:30] huei90 commented on #261
welcome PR 🍻

[2016-11-15 01:41] non-player opened #262 "如何设置多个验证规则?"
[code]

这个除了必填以外，还要不能含有特殊字符，怎么设置呢,虽然能添加定义规则，但是我的规则只是检测不含有特殊字符，求解？

[2016-11-15 01:50] non-player commented on #262
这个我已经知道，谢谢，设置方法是：validator="required,validchar"

[2016-11-15 16:29] huei90 commented on #262
Nice!

[2016-11-15 16:29] #262 closed

[2016-11-30 06:22] slcoder opened #263 "all messages with different languages"
Hi,

Could you please help me to integrate different languages with validation messages.

In my web application support 2 languages, English and Norway. Moreover when i change the language of the site from English to Norway, validation messages also should change.

Appreciate the early response.

Thanks,

[2016-12-13 16:14] huei90 commented on #263
You can check the Compilation section in this list
https://github.com/huei90/angular-validation/issues/178

[2016-12-13 16:15] #261 closed

[2016-12-14 14:58] jejja opened #264 "Cant use validation-group"
I get following console log when using validation-group:

angular-1.5.8.js:118 15:55:39.978::[global]> TypeError: Cannot read property '$setValidity' of undefined
    at b (http://localhost:9000/assets/javascripts/lib/angular-validation-1.4.2.min.js:1:4031)
    at http://localhost:9000/assets/javascripts/lib/angular-validation-1.4.2.min.js:1:5961
    at http://localhost:9000/assets/javascripts/lib

[2016-12-14 15:26] huei90 commented on #264
do you mind showing your code?

[2016-12-14 15:47] jejja commented on #264
Well I can take some code... there is alot of fields I also had to rename some things:)
`<ng-form name="ctrl.form">
    <div class="radio" ng-repeat="num in numbers">
        <label>
                    <input type="radio"
                                name="number"
                                ng-model="ctrl.form.number"
                                ng-value="num"

[2016-12-14 17:13] mooyoul commented on #210
It seems broken again 😢

I just tested on **Form ($submit-only)** section on [example page](http://huei90.github.io/angular-validation/#examples).

It seems validation passed okay when checks any checkbox, but `checkValid` remains `false` even i entered **ALL** input items. **there are no invalid messages, or indicators**. it won't trigger `ng-click` handler with `validation-submit` directive comb

[2016-12-14 20:57] huei90 commented on #264
looks like you are using ng-repeat, hope this discussion is helpful
https://github.com/huei90/angular-validation/issues/63

and the demo code
https://github.com/huei90/angular-validation/commit/64b8eee0e98600ab1d3945dbe78dd651e71f6e0b

[2016-12-15 07:37] jejja commented on #264
Hi.

No I didnt get that work. Ive added name="number{{$index}}". Since this are radiobuttons should they not have same name? With this {{ $index }} we get eunique name.

[2016-12-15 09:22] jejja commented on #264
Hi!

I solved it. Since this are radiobuttons the name should be same. So I dont need to use the group-validation. Actually to make it look ok. I just needed to set a message-id and add a span where the error should be. :)

[2016-12-15 09:33] huei90 commented on #264
yes, if you see the demo `Form ($submit-only)` section, the checkbox 1 and 2 uses grouping 😄

[2016-12-20 06:00] codeuniquely opened #265 "Suggestion: compatibility with ngMessages"
I would like to suggest a possible update that brings the library closer to ngMessages

when any validation error occurs generate a ng-invalid-[rule] class rather and add this onto invalid element

It would then be possible to switch off the automatic appending of messages in condig

[code]

and instead hook in and use the ng-messages format to place the error messages anywhere on the form such as

[2016-12-20 06:29] codeuniquely commented on #265
Ignore this - you can do this already...

I wasn't seeing the message output because i had both these rules in the set
[code]

Which take display priority over the validations messages

When i remove these and used ONLY the validation rules function it worked perfectly ....

[2016-12-20 06:29] #265 closed

[2016-12-20 22:04] #264 closed

[2016-12-29 09:43] kushal555 commented on #181
@hung-doan  Hey I am trying your solution which is provided above, but in my case, it returns the full string instead of the message.
Like
`function(element, attrs){
            return attrs.alt + ':' + 'Do not leave it empty!'
        }`
and its attached to message directly.

[2016-12-29 15:32] huei90 commented on #181
@kushal555 I don't get your point.

[2016-12-30 05:53] kushal555 commented on #181
Actually you provided above code
[code]

So Sir I am using this code to override the default message and set it for all the required type of validation, but it treats error function value as the string and shows the message completely like
`function(element, attrs){ return attrs.alt + ':' + 'Do not leave it empty!' }` as below of my input box.
but what I am expecting using that function is that it

[2016-12-30 12:19] huei90 commented on #181
Hi @kushal555 , unfortunately, the `Function` is only supported in setExpression, setDefaultMsg accepts only String.

This is what the first comment said.

[2016-12-30 12:23] huei90 commented on #181
We have this feature in PR https://github.com/huei90/angular-validation/pull/198

but we haven't pulled it yet.

[2017-01-03 13:08] huei90 commented on #1
This is a testing message. just for testing.

[2017-01-06 05:53] kushal555 opened #267 "Select Drop down issue when set default value from ng-model"
First, thank you very much for providing such a greate plugin.
I am having an issue while I am using this plugin.
In my form have a dropdown which auto set while form is open in edit mode using `ng-model` and also its not generating any validation message.

[2017-01-06 08:48] kushal555 commented on #267
Sorry, i got solution myself.
Actually, i forgot the `name` attribute. So it's not validating the form even it has the value.

[2017-01-06 08:48] #267 closed

[2017-01-06 20:52] huei90 commented on #267
🍻

[2017-01-08 13:24] codeuniquely commented on #181
I was about to ask an issue to ask if this was possible, i was using your own documentation as an example, of expecting a range of inputs ..  Cool Library by the way :)

Example:
[code]

but If we had access to the attributes used we could set the validation error message correctly based on the what was actually used to validate.

[code]

Anyway looks like you have it all under control - any ETA o

[2017-01-13 11:44] kushal555 opened #269 "Input type File Validation"
Hello @huei90
Thanks for your great plugin. I just want to know, do we have the `file` validation in that plugin ?

[2017-01-14 10:56] huei90 commented on #269
I never try it yet. do you mind try it?

[2017-01-15 09:28] burhanfarooqws opened #270 "form group/groups"
Hi,

can I use more than one form group on one element.
my page actually need this kind of feature like nested form child form has limited element with parent form add more element but on parent submit I need to make sure child form is also valid.

any idea if this is possible?

[2017-01-15 09:59] huei90 commented on #270
have you tried `validation-group={scope}`, update the scope when you click the different button.

[2017-01-15 10:13] burhanfarooqws commented on #270
![screenshot_20170115-150746](https://cloud.githubusercontent.com/assets/17730402/21961768/eddf1f48-db34-11e6-930b-d88a46cdb65b.png)

Here is my screen, the child form has fields but OTP field is not required as for send otp click the value is fetched & put by user .... but on register click i need to validate all fields .... kind of confuse how to achieve it ....

Thanks

[2017-01-15 10:31] huei90 commented on #270
@lvarayut do you have any idea of using validation-group here?

[2017-01-17 14:39] lvarayut commented on #270
I'm not quite sure if I understand the question correctly. Based on the provided example, all fields are marked as "*" indicating mandatory fields. Couldn't we just use a normal `validator="required"` when a user click on the Register button?

[2017-01-17 14:56] burhanfarooqws commented on #270
The use case is when user click send OTP button the OTP field should not be validated as its a server call which generate password send to user on email.
then user put it in the OTP field now user can re-send OTP if he wants.
When user click register button the OTP must be validated kind of conditonal required but form submit is trouble in this when use ng-required conditional.

What should be my

[2017-01-18 09:51] lvarayut commented on #270
In this case, I think we might need some kind of condition to make OTP field optional. Could you take a look at #152 and #229?

[2017-01-19 09:57] huei90 commented on #229
I believe the above solution works now because of this commit [Observe validator changes](https://github.com/huei90/angular-validation/commit/1a7f8f890118d6828873a5aaab928f6e04968534)

[2017-01-31 19:16] alejandro485 commented on #256
Hi, the service for reset into controller is `$validation` (from module `validation`) and his receives form tag element in `$validation.reset(Form)`.

[2017-02-01 12:54] johnnytn opened #273 "Compare the value of 2 inputs"
Can I compare 2 fields? Something like `password` must have the same value of `cofirmPassword`.
I know i can create my custom validator, but how can I do something like this?
`validator="checkValue=customValue`

I've already tried passing `{{user.password}}`

[2017-02-01 13:08] hueitan commented on #273
Is this the password validator you are looking for?
https://github.com/hueitan/angular-validation/issues/24#issuecomment-47635437

[2017-02-01 13:14] johnnytn commented on #273
Well if the this validator compare 2 values then yes 😅 .
If not I got a workaround passing `checkSameValue={{user.password}}` and then splitting the `attrs.validator`

[2017-02-01 13:17] hueitan commented on #273
Do you mind show the example why you need to compare 2 fields in one validator?

[2017-02-01 13:30] johnnytn commented on #273
Well I need to compare 2 values, cuz I want both values to be the same.

**return value1 == value2**

[2017-02-01 14:00] hueitan commented on #273
Isn't this same as the password validation?

[2017-02-01 14:54] johnnytn commented on #273
And how do I use this `password` validator ? I didn't saw it in the Documentation APi

[2017-02-01 15:18] hueitan commented on #273
You can use the example given in the comment. https://github.com/hueitan/angular-validation/issues/24#issuecomment-47635437

[2017-02-01 15:29] johnnytn commented on #273
@hueitan  ty for a better solution. I was doing like this, but It was not that clean
[code]

[2017-02-01 15:30] #273 closed

[2017-02-04 01:35] gaojianzhuang opened #274 "The require validation conflict with the min and max"
Sometimes we just want to use the min or max validation, but the angular-validation need the "required" validation first, it is not our expected.
How do we need to change the logic?

[2017-02-04 08:42] hueitan commented on #274
Please read the document and learn how to use rule
On Sat, 4 Feb 2017 at 02:35, Jack <notifications@github.com> wrote:

[2017-02-04 11:57] #274 closed

[2017-02-11 11:30] droidbuffer opened #276 "Not working with ng-include"
Hey,

my form to be validated is within an ng-include directive, and my validation is on submit, but when i click the submit button, I'm getting this error in

This is not a regular Form name scope
Provider.validate @ angular-validation.js:183
(anonymous) @ angular-validation.js:367
dispatch @ jquery.js:3
r.handle @ jquery.js:3
angular-validation.js:368 Uncaught TypeError: $validationProvider.vali

[2017-02-13 09:52] hueitan commented on #276
Do you mind post your script code here?

[2017-02-14 03:11] droidbuffer commented on #276
this is my app.js config for validator

`app.config([ '$validationProvider', function($validationProvider) {
	$validationProvider.showSuccessMessage = false;
	$validationProvider.setValidMethod('submit');

} ])`

this is my ng-include, i'm setting the ng-include from my controller

[code]
and this is the form i'm loading from my controller to the ng-include

[code]

[2017-02-21 10:14] chensiyao opened #277 "API文档getMsgElement示例异常"
**## API文档的getMsgElement使用示例有异常。下图为示例代码**

![tl 20170221175957](https://cloud.githubusercontent.com/assets/17638288/23159927/98646f1c-f85f-11e6-9887-ed79e4089fc6.png)

    源码中有一段为: messageElem.html('').append(
                $compile($validationProvider.getErrorHTML(messageToShow, element, attrs))(scope));

    在使用zepto时, 上图中messageElem对象的类型为zepto对象的实例。
    $compile(...)(scope)编译后的对象为angular.elem

[2017-02-21 11:33] hueitan commented on #277
This is just an example, you are free to modify/create the method by yourself.

[2017-02-22 09:51] codeuniquely opened #278 "refresh validator when the values change"
I have a validator that is derived from a string that is build dynamically, like this

[code]

where the value of maximum is based on input provided before this entry.

[code]

on initial form load the validation works and the limits applies correctly

but when you go back up the form and alter either of the two related items of data such as model.numberOfEmployees or the model.totalSpendLimit the

[2017-02-25 09:14] ycpatel813 opened #279 "Validation=required not working in select2"
Hi
I found your directive and i am very much happy to use this validator but i have used select2 controll also and validator not working `Validation=required` not working in select2.

Please suggest me some instruction.
Thanks in advance.

[2017-02-28 12:59] codeuniquely commented on #278
This appears to have been fixed in version 1.4.3 of the library ....

[2017-02-28 12:59] #278 closed

[2017-02-28 14:20] codeuniquely opened #280 "Question: How to re-call validation on a single form input ?"
I already use checkValid to make calls to see if the form is valid when the form is submitted, enabling me to highlight any missed or invalid inputs when the user tries to submit the form. The individual form inputs have validator rules and use ngMessages to render individual input errors

But I have a requirement to be able to update a value in the form and validate a related input that may have

[2017-03-01 06:02] crossRT commented on #84
Hi @hueitan and @roylee0704,
Good to know both of you're Malaysian too. I'm from P.J. =D

I know this topic is a bit old, but it still bothers me for a long time even if I follow this [guide](https://github.com/hueitan/angular-validation#integrating-with-twitter-bootstrap) and adding a `message-id` to integrate with bootstrap input-group.

So I wrote a small fix for this, maybe you can have a look

[2017-03-01 11:26] hueitan commented on #84
🇲🇾

[2017-03-01 11:28] hueitan commented on #279
Hi @ycpatel813 sorry for the late reply.

Do you mind try this solution?
https://github.com/hueitan/angular-validation/issues/61#issuecomment-65266045

[2017-03-01 11:28] #277 closed

[2017-03-01 11:31] hueitan commented on #276
Do you mind setup a fiddle/jsbin/others example so that I can look quickly?

[2017-03-01 11:32] #257 closed

[2017-03-02 11:22] peet opened #281 "npm 1.4.3 package contains file with no name - breaks install"
[code]

This is caused by a file with no name being included in the 1.4.3 tgz downloaded from npm, which isn't present in the 1.4.2 tgz. This should be fixable by republishing to npm, after ensuring the directory is clean.

[2017-03-02 11:24] peet commented on #281
The file contents, to help understand where it came from, is the commit message template:
[code]

[2017-03-08 11:10] hueitan commented on #281
Hi @peet Sorry for the late response, have you tried what NPM said?

[2017-03-08 11:11] hueitan commented on #280
You can manually call the validate API by using

[code]

[2017-03-08 11:21] codeuniquely commented on #280
Ye si know you can call that and i do when the user hits SUBMIT, but that call validates the entire form - causes all inputs on the form to have their validation checked and any associated messages will be fired and shown in the UI.

This is not what I asked:

What I asked, was for was way to validation just a single input:

There is a UX business case with my customer that requires:
That ONLY val

[2017-03-08 12:29] hueitan commented on #280
yes, you can validate only single on input

[code]

[2017-03-08 12:36] codeuniquely commented on #280
Sorry but just to be sure,

You can validate a given named input (covered by validation rules)

i.e.
[code]

[2017-03-08 12:48] hueitan commented on #280
Yes you can!
On Wed, 8 Mar 2017 at 13:36, Steve Saxton <notifications@github.com> wrote:

[2017-03-08 12:56] codeuniquely commented on #280
OK cool - then we can close this - because that exactly what I need

:)

[2017-03-08 12:59] hueitan commented on #280
Perfect 👍

[2017-03-08 12:59] #280 closed

[2017-03-08 13:34] peet commented on #281
The file that NPM is complaining about is the directory the tar is expanding into. When it tries to extract the no-name file, it ends up with the same path name, so refuses to write it, causing the error. The directory doesn't exist before or after the command, as it's only temporary for the extraction.

You can download the tgz file from npm to inspect with `npm pack angular-validation@1.4.3`

[2017-03-09 01:17] scottadamsmith commented on #181
@codeuniquely Sorry, I'm the worst. Working on getting this PR buttoned up so it can be pulled in, and only almost a year later!

[2017-03-09 12:42] hueitan commented on #281
Hi @peet I will publish a version 1.4.4 for the latest changes in these few days or next week. after that, you can try install it again.

[2017-03-09 12:42] hueitan commented on #181
Congratulation!! The feature is up now! 🍻 @scottadamsmith Thanks for your contribution.

[2017-03-09 12:42] #181 closed

[2017-03-09 21:18] peet commented on #281
Great, I'm sure that will fix it. I'll reopen this if it is somehow still broken :)

[2017-03-16 07:39] syiwawahyu opened #282 "How to set input invalid using controller"
Hello, is there anyway to make form input invalid from controller? Because, i have response from server that return validation message too and i want to append server validation message to form input through your package. Thank you before.

[2017-03-16 08:11] hueitan commented on #282
use $promise

[2017-03-16 08:48] syiwawahyu commented on #282
Ok, let's say i have variable $scope.name , it's a model for form input text. The user input it right, but i want to make it invalid from controller. So, what i must doing in $scope.name? Can you give me example please. Thanks before

[2017-03-16 09:58] hueitan commented on #282
I think you need somehow kind of **pending validation**. Unfortunately, angular-validation provides only `valid` and `invalid` state validation, there is no such kind of between validation.

you might need to find out a way to hack for this between validation.

one suggestion example you can try

[code]

[2017-03-19 10:26] #279 closed

[2017-03-20 02:23] zhbhun opened #283 "Why set webpack as dependencies?"
I can't find any module that depends webpack.

[2017-03-21 14:27] hueitan commented on #283
yes, we use webpack to build the bundle.js
https://github.com/hueitan/angular-validation/blob/master/webpack.config.js

[2017-03-21 14:27] #283 closed

[2017-03-21 14:27] #282 closed

[2017-03-21 14:29] hueitan commented on #139
I will drop this issue as moving to the latest version or even AngularJS2 having higher priority than staying around 1.2.

[2017-03-21 14:29] #139 closed

[2017-03-21 14:29] #245 closed

[2017-03-21 14:30] hueitan commented on #174
I will close this ticket as it is old and open a new ticket if needed.

[2017-03-21 14:30] #174 closed

[2017-03-21 14:30] hueitan commented on #269
I think you got it =)

[2017-03-21 14:30] #269 closed

[2017-03-21 14:30] hueitan commented on #256
Thanks @alejandro485 🍻

[2017-03-21 14:30] #256 closed

[2017-03-21 14:31] hueitan commented on #191
Close, redesign of the API document has higher priority now.

[2017-03-21 14:31] #191 closed

[2017-03-21 14:31] #247 closed

[2017-03-21 14:32] #243 closed

[2017-03-21 14:33] #270 closed

[2017-03-28 01:11] star-hope opened #284 "关于validation-group的疑问"
如果用于login校验，所有的校验失败的结果都指定到span元素，请问要怎么设置才能让第一个校验失败信息的展示在元素上，比如有用户名输入框，密码输入框，验证码输入框，我什么都不填写直接点击登录按钮，理论上应该是显示请输入用户名的提示才对，但是显示了请输入验证码的提示了

[2017-04-08 08:59] zhbhun commented on #283
I think it should be set in devDependencies.

[2017-04-08 10:11] hueitan commented on #283
PR is always welcomed =)
On Sat 8. Apr 2017 at 10:59, zhbhun <notifications@github.com> wrote:

[2017-04-20 08:29] ning5280 commented on #258
是不是跟验证顺序有关，。。我自定义的两个验证 调换一下顺序就会出现你的问题 第一个验证是不能为空 第二个是必须是11位数字手机号（正则写的）

[2017-04-20 09:02] kushal555 commented on #279
Hello @hueitan,
I read complete document and didn't get any case which describes how to put only min and max without required method.

In my case when I put the ``min=10,max=15`` and if the user clicks on that element the validation message fired for min length. If we remove complete data from element then also validation message fired for min length as well.

Please let me know what is the proper

[2017-04-20 09:06] kushal555 commented on #274
Hello @hueitan,
I read complete document and didn't get any case which describes how to put only min and max without required method.

In my case when I put the min=10,max=15 and if the user clicks on that element the validation message fired for min length. If we remove complete data from element then also validation message fired for min length as well.

Please let me know what is the proper way

[2017-04-20 09:07] kushal555 commented on #274
Hello @gaojianzhuang
If you find any alternate then Please provide me here.

[2017-04-20 09:08] hueitan commented on #274
you need to customize your expression.

if you are using below expression, means you are required the user to input at least something, you need to customize it and **allow passing empty value**.

[code]

[2017-04-20 09:13] kushal555 commented on #274
@hueitan Than you very much for your instant support.

I really appreciate your work.

[2017-05-19 10:02] pmohite13 commented on #276
Same issue: Here is my code:
This is app.js config
[code]

This is shell html page
[code]
This is template html page -> tab
[code]
Nothing happens with this code. No validation is fired on 'blur' and also it passes through form.validate()

[2017-05-26 10:49] peet commented on #281
Hi @hueitan, 1.4.3 is gone from npm, but we still need its bugfixes over 1.4.2.

Can you please publish 1.4.4 soon?

[2017-05-27 09:49] hueitan commented on #281
Thanks, I will publish 1.4.4 soon, at the moment, do you mind using `#master` for your project?

[2017-05-31 13:04] hueitan commented on #281
version 1.4.4 has been published! thanks for the waiting!

[2017-05-31 13:04] #281 closed

[2017-06-20 03:49] BryanAdamss opened #285 "如何将错误信息展示在一个容器中并只展示第一个错误的信息?"
作者，你好！
我遇到一个问题，我在做一个手机端的验证，需要在点击提交按钮的时候进行验证，错误信息需要以toast形式展示出来，并要求只展示首个错误信息(验证通过的信息和后面的错误信息不需展示);
我查看了你的demo，在demo的form3中做了一些修改

[code]

我给需要验证的input的message-id统一设置成了`messageWp`，并将valid-method都设置成了`submit-only`；
当我点击提交时，验证通过的提示信息，会覆盖住后面的错误信息。
我应该如何修改，才能实现我的需求，求教!

[2017-06-20 12:15] ycpatel813 commented on #269
Not working, hueitan.
Thank you.

[2017-06-30 07:18] hueitan commented on #284
Hi @star-hope sorry for the late reply.

please check again the [api documentation page](https://github.com/hueitan/angular-validation/blob/master/API.md), and follow the intrusction building a valid Form and it's validation configuration.

reopen if needed

[2017-06-30 07:18] #284 closed

[2017-06-30 10:02] stefanmonkey commented on #185
I just found a way to define o-value
just use ng-model-options="{ getterSetter: true }"

like document write
https://docs.angularjs.org/api/ng/directive/ngModel

JS:
[code]

HTML:
[code]

[2017-07-01 07:28] codeuniquely opened #286 "CheckValid NOt Working"
when i call to check valid

[code]

[2017-07-01 11:46] hueitan commented on #286
I'm not sure if I understand your description correctly, do you mind post your `<Form>` script here so that we can check your requirement.

[2017-07-01 19:13] codeuniquely commented on #286
I've worked out what the issue is ..

I have added an input like this

[code]

The validator looks like this

[code]

The button submit calls this function
[code]

The issue is that because that the input is optional - so the user never has to enter a value and can skip the form (so it never moves from $pristine and the $watch never fires because the user does not alter the value. This means that

[2017-07-04 10:03] codeuniquely opened #287 "Validations not updating when dependant on other form values"
I have set up a 'plnker' to demonstrate a common issue when users fill in forms, that have values later on that are dependant on and validated by values put into previous inputs. Please see the following:
https://plnkr.co/edit/ELplnBCAUjatpusW6EPU?p=preview

Enter some values - for example
[code]

and you will get the warning AFTER  the second Number of -  'A maximum value of 10 is allowed.'

If y

[2017-07-04 13:09] codeuniquely commented on #287
## I think there is a fix for this ##

 There is already an $observe on the validator - which updates it and we could use this to re-run the validation rule after...

## current code ##
[code]

if this was updated to also make a call back to checkValidation then the error messages would automatically be removed once the conditions on the later validation have been met

## Suggestion: ##
[code]

[2017-07-04 13:10] codeuniquely commented on #287
It appears to work - in my code - does this effect / break anything else ?

[2017-07-04 14:36] codeuniquely commented on #276
This is how I pull in sub-forms

I define a new directive for the form inputs - usually in it own folder so I can just require the folder and just get index.js to bind it all together
[code]

Then I create the directive which references the template and controller
[code]

and create a simple controller to inject the validation
[code]

And then its a matter of just defining a form with your normal

[2017-07-04 14:46] codeuniquely commented on #250
we also do this

by adding these options in the configuration of validation

[code]

[2017-07-25 09:32] tomavic commented on #285
Do you have a keyboard with a Language is called English !

[2017-07-25 09:38] tomavic opened #289 "Need to Add equalTo validation as it's required and widely used too."
Need to add equalTo() validation method as like in jquery validtion library
[code]

[2017-07-25 09:44] hueitan commented on #289
you are free to add any library as you like in your application. 😄

[2017-07-26 08:20] tomavic commented on #289
yes I know that very well :) but It would be better if you added this to your library as there is many DEVs are using it. Consider it as a part of making your library powerfull!

[2017-07-26 09:11] hueitan commented on #289
no worry, every awesome developer can add any feature in their application. I want to keep this library as clean as possible and avoid those user preference third/support library.

[2017-07-26 09:11] #289 closed

[2017-07-27 13:47] brabao opened #290 "Required validation is invalid when model value is 0"
Required validation is invalid when model value is 0

[https://embed.plnkr.co/Qmlp3W/](https://embed.plnkr.co/Qmlp3W/)

[2017-07-27 14:56] hueitan commented on #290
This is expected since you are using `required` validation and the model is given `integer`

you either

1. makes the model to be string integer "0" "1" "2" "3" ...
1. not using required, but using the validation number >= 0

[2017-07-27 14:56] #290 closed

[2017-07-27 16:47] brabao commented on #290
I send pull request (#291) to fix it
thanks

[2017-08-08 04:47] xumingxin7398 opened #293 "validation-submit not work in version1.4.x"
my code like...
[code]
when I click on the button, nothing happend and it doesn't trigger validation. I debug the code of this directive and found form.$valid is undefined. How to make validation-submit directive work?